<div class="col-md-12 col-sm-12 col-xs-12">
      <br/><br/><br/>
       <h2><strong>우리학교 근처 매물정보</strong></h2>
         <form action="/map/mappage" method="POST">
          <br/>
           <p>
             <div class="btn-group">
                <%= select_tag "univ", "<option selected>학교선택</option><option value='서강'>서강대학교</option><option value='이화'>이화여자대학교</option><option value='연세'>연세대학교</option>".html_safe,class:"form-control" %>
                <%= submit_tag "검색", class:"btn btn-primary" %>
             </div>
           </p>
         </form>
            <br/><br/>
          </div>
          
<% if user_signed_in? %>
    <p><%= link_to 'User', users_path %> <%= User.count %> registered</p>
<% else %>
    <p><%= link_to "User", "#login", "data-toggle" => "modal" %> <%= User.count %> registered</p>
<% end %>

