<style type="text/css">
    th {text-align: center;}
    td {text-align: center;}
</style>
<div class="container">
<h4>등록된 방 관리</h4>
<p>총 <%= @hasuk_houses.length %>개</p>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">  
    	<div class="table-responsive">
				<table class="table">
					<tr>
						<th>번호</th>
						<th>이름</th>
						<th>주소</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
	<% @hasuk_houses.each do |house| %>
					<tr>
						<td><%= house.id %></td>
						<td><%= house.hasuk_name %></td>
						<td><%= house.address %></td>
						<td><%= link_to '수정하기', edit_hasuk_house_path(house), 'data-no-turbolink' => true %></td>
						<td><%= link_to '삭제하기', house, method: :delete, data: { confirm: '리얼리?' } %></td>
					</tr>
	<% end %>				
				</table>
			</div>
		</div>
	</div>
	
</div><!--콘테이너-->