<style type="text/css">
@media(max-width:413px) {
  #pic_div {
    min-height:110px;
  }
}
@media(min-width:414px) {
  #pic_div {
    min-height:120px;
  }
}
@media(min-width:768px) {
  #pic_div {
    min-height:165px;
  }
}
  .gallery {
    width:100%;
    min-height:200px;
    height:auto;
    border:1px solid #262626;
    border-radius: 5px;
    overflow: auto;
  }

  #pic_div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding:0px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
  }
  
.fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileupload input.pictures {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>
<div class="modal fade" id="imgUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog rating-form" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="text-align:center; margin-top:10px;">&nbsp&nbsp사진 올리기</h4>
      </div>
      <div class="modal-body">
        <div class="well" style="padding: 5px">
          <h6 style="font-size: 20px">사진 업로드시 유의사항</h6>
          <ul>
            <li>한 번 올린 사진은 다시 수정해서 올릴 수 없습니다. 사진을 조금만 신중하게 올려주세요.(추후 업데이트 예정)</li>
            <li>모바일에서 사진을 여러장 올리고 싶은 경우, 사진 선택화면에서 사진을 2초정도 꾹 누르고 있으면, 사진을 여러장 선택할 수 있습니다.</li>
          </ul>
        </div>
        <% if user_signed_in? %>
          <%= form_tag(img_upload_create_path, { multipart: true, method: "POST"}) do %>
              <%= hidden_field_tag("hasuk_house_id", @hasuk_house.id ) %>
              <%= hidden_field_tag("user_id", current_user.id ) %>
            <div class="fileupload btn btn-default">
              <span>파일 열기</span>
              <%= file_field_tag 'user_pic[]', multiple: true, accept: 'image/png,image/gif,image/jpeg', class: "pictures btn btn-success" %>
            </div>
          <div class="gallery" style="border-color:#a1a6a9;"></div>
          <div class="row" style="margin-top:10px">
              <%= submit_tag "업로드", :class => "btn btn-success btn-lg", :style=>"border-radius:0; font-size: 15px; width:140px; float:right;" %>
          </div>  
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
          var filesAmount = input.files.length;
          
          for (i = 0; i < filesAmount; i++) {
              var reader = new FileReader();
              reader.onload = function(event) {
                var each_pic= '<img class="img-rounded" src="' + event.target.result + '"/>'; 
                //$($.parseHTML('<img>')).attr('src', event.target.result);
                var pic_div = '<div class="col-md-3 col-lg-3 col-xs-3" id="pic_div">'+ each_pic + '</div>';
                $(".gallery").append(pic_div);
              }
              reader.readAsDataURL(input.files[i]);
          }
        }
    };
    $('.pictures').on('change', function() {
        imagesPreview(this, 'div.gallery');
    });
});
</script>