<div class="container">
<h4>등록된 방 관리</h4>
<div class="row">
	<% @hasuk_houses.each do |house| %>
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="row">
				<div class="col-lg-6">
					<img src="<%= house.main_img.detail %>"/>
				</div>
				<div class="col-lg-6">
					<table>
						<tr>
							<td>번호</td>
							<td><%= house.id %></td>
						</tr>
						<tr>
							<td>이름</td>
							<td><%= house.hasuk_name %></td>
						</tr>
						<tr>
							<td>주소</td>
							<td><%= house.address %></td>
						</tr>
						<tr>
							<td><%= link_to 'Edit', edit_hasuk_house_path(house), 'data-no-turbolink' => true %></td>
						</tr>
						<tr>
							<td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	<% end %>
</div><!--row-->
</div><!--콘테이너-->
