<head>
  <!-- jQuery library (served from Google) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="/js/jquery.bxslider.min.js"></script>
  <!-- bxSlider CSS file -->
  <link href="/css/jquery.bxslider.css" rel="stylesheet" />
  <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=db900969ca97b093efb0ddf86d45f9e5"></script>

<style>

ul {
  font-size: 14px;
}
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 0px;
}

.row {
  margin-left:0px;
  margin-top:0px;
}
.container {
  margin-top:5px;
  background-color: #f5f5f5;
} 
.table {
  margin-bottom:0px;
}
#check-td {
  border-top:1px solid #fff;
}
#inner-content {
  font-size:14px;
  float:left;
}
#check-content {
  font-size:13px;
  float:left;
}
#check-option {
  font-size:16px;
  float:left;
}

   .sub_circle {
    border-radius: 20%;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}
    .line_number_2 {
        background: #29c531;
    }
    
    .line_number_6 {
        background: #cd7c2b;
    }
    
    .line_number_kj {
        background: #7bc2a3;
        border-radius: 15%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        font-size:12px;
    }
    .line_number_bus {
        background: #3498DB;
        border-radius: 15%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        font-size:12px;
    }
    .bus_circle {
        border-radius: 20%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        
    }
    
    .bus_green {
        background: #59ba23;
    }
    
    .bus_blue {
         background: #3859ad;
    }
    
    .bus_red {
        background: #f00e0b;
    }

body {
  background-color: #f5f5f5;
}
#pictab1{
  display:table-cell;
}
#pictab2{
  display:table-cell;
}
#pictab3{
  display:table-cell;
}


@media (max-width: 767px) {
  
.table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 2px;
}

.info-zone {
    padding-top: 0px;
    padding-bottom: 15px;
}

.nav-tabs.nav-justified {
    border-bottom: 0;
    border-top: 1px solid #aeaeae;
}
  
.photo-zone, .info-zone  {
  background-color: #ffffff;
}
.title{
    float: left;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #666666;
    background-color: none;
    font-size: 18px;
    font-weight: 600;
}

.mob-border{
    border-top: solid 1px #aeaeae;
    border-bottom: solid 1px #aeaeae;
    background-color: #ffffff;
    margin-top: 50px;
}

.col-xs-12 {
  padding:0;
}

.container {
  padding-left: 0;
}
#pictab1{
  display:inline-block;
  width:29%;
}
#pictab2{
  display:inline-block;
  width:36%;
}
#pictab3{
  display:inline-block;
  width:30%;
  
}
#check-content {
  font-size:12px;
  float:left;
  margin-top:2px;
}
.house-title {
  
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
  padding-left: 0px;
}

.tip {
  font-size: 0.7em;
  color: #ee8176;
  margin: 0;
}

.mob-hidden {
  display: none;
}

.nav-container {
    padding: 0;
}

.btn-md{
  margin-top: 10px; 
  width: 48%;
  font-size: 14px;
  border-radius: 0;
}

#price{
  margin-top:3px; 
  margin-bottom:0px;
  font-size:24px;
}
#price_sale{
  font-size:13px;
  margin-top:5px;
  padding:0;
}
#sub {
  font-size:13px;
}
.info {
  font-size: 13px;
  float:left;
}

.table-responsive {
  padding:0px;
  border-right: none;
  border-left: none;
  border-top: none;
}
}



@media(min-width:767px) and (max-width: 1199px) {
.title{
    height: 30px;
    width: 120px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align: center;
    color: #ffffff;
    background-color: #555555;
    padding-top:4px;
    font-size: 16px;
}

.container {
      margin-bottom: 50px;
  
}

.nav-container {
    padding-right: 30px;
    padding-left: 15px;
}

.navbar-nav > li > a {   /* 태블릿에서는 네비바 메뉴 간격 줄어들게*/
    padding: 15px 0px;
}

.house-title {
  font-size: 30px;
  padding: 15px 0;
}
  
.tip {
  font-size: 10px;
  color: #ee8176;
  float: right;
  margin-top: 25px;
}

.btn-md{
  margin-top: 15px; 
  width: 150px;
  margin-left:5px;
  margin-right:5px;
}
#price{
  margin-top:3px; 
  margin-bottom:0px;
  font-size:24px;
}
#price_sale{
  font-size:14px;
  margin-top:3px;
  padding:0;
}
#sub {
  font-size:13px;
}
.info {
  font-size: 13px;
  float:left;
}

.photo-zone, .info-zone{
    border: solid 1px #999999;
    background-color: #ffffff;
}

.top-margin {
margin-top:10px;
}

.table-responsive {
  padding:0px; padding-left:5px; padding-right:5px; margin-top:5px;
}

.info-zone {
    padding-top: 10px;
    padding-bottom: 10px;
}
}


@media(min-width: 1200px) {
.title{
    height: 30px;
    width: 120px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align: center;
    color: #ffffff;
    background-color: #555555;
    padding-top:4px;
    font-size: 16px;
}

#price{
  margin-top:0px; 
  margin-bottom:0px;
  font-size:28px;
}
#price_sale{
  font-size:18px;
  margin-top:0px;
  padding:0;
}
#sub {
  font-size:14px;
}
.nav-container {
    padding-right: 30px;
    padding-left: 15px;
}


.house-title {
  font-size: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
}


.tip {
  font-size: 0.7em;
  color: #ee8176;
  float: right;
}

.btn-md{
  margin-top: 15px; 
  width: 180px;
  margin-left:5px;
  margin-right:5px;
}

.photo-zone, .info-zone{
    border: solid 1px #999999;
    background-color: #ffffff;
}

.top-margin {
margin-top:10px;
}

.table-responsive {
  padding:0px; padding-left:5px; padding-right:5px; margin-top:5px;
}

.info-zone {
    padding-top: 10px;
    padding-bottom: 10px;
}
}



.botton1{
    float: left;
    width: 50%;
}


.img2 {
    height: 70px;
}


.label{
  width: 50px; 
  border: 1px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #aeaeae;
  color: #666666;
  border-radius: 0.5em;
  margin-right: 5px;
}

hr{
  margin: 7px;
  border-color: #999999;
}

p {
  margin:0;
}

.box{
  background-color:#ffffff;
  border: 1px;
  border-style: solid;
  border-color: #aeaeae;
  border-top-color: #555555;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #58d68d;
}

.info-zone .row {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.nav-tabs.nav-justified>li>a {
    border: 0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
}

.tip-label {
  background-color: #ffffff;
  color: #ee8176;
  border-color: #ee8176;
}

.small-photo {
    padding: 10px;
    overflow: hidden;
    background-color: #777777;
}

.img-slider-container {
    height: 65px;
    overflow: hidden;
}

.img-slider-container a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
}


.img-slider-container a.active img {
    border: 2px solid #fcb514;
}

.col-md-1 {
  padding-left: 0;
  padding-right: 10px;
}


.info {
  font-size: 14px;
  float:left;
}

.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}

.bxslider-inner {
	display: table-cell;
  vertical-align: middle;
	float: none !important;
}

main {
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 51.7px;
    height: 100%;
    padding: 0px;
}

.dain_table {
  padding:0px; 
  margin-top:5px; 
}
</style>


</head>

<body>
  <div class="container">
  <div class="row top-margin">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="title">사진정보</div>
          <div class="photo-zone">
              <ul id="myTabs" class="btn-group nav nav-tabs nav-pills nav-justified" role="tablist">
                  <li id="pictab1" role="presentation" class="active"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab" style="padding-left:10px; padding-right:10px">사진</a></li>
                  <li id="pictab2" role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab" style="padding-left:10px; padding-right:10px">교통지도보기</a></li>
                  <li id="pictab3" role="presentation"><a href="#roadviewcon" aria-controls="roadviewcon" role="tab" data-toggle="tab" style="padding-left:10px; padding-right:10px">로드뷰</a></li>
              </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="photo" role="tabpanel" class="tab-pane active">
             <ul id="bxslider">
      <!--          
              <%# if @hasuk_house.room_img1 != "" || @hasuk_house.room_img1 != nil %>
                <li><img src="<%#= @hasuk_house.room_img1 %>" alt="" title="<%# unless @hasuk_house.room_price1.nil? %>월세 <%#= @hasuk_house.room_price1 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description1.nil? %> <%#= @hasuk_house.room_description1 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img2 != "" || @hasuk_house.room_img2 != nil %>
                <li><img src="<%#= @hasuk_house.room_img2 %>" alt="" title="<%# unless @hasuk_house.room_price2.nil? %>월세 <%#= @hasuk_house.room_price2 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description2.nil? %> <%#= @hasuk_house.room_description2 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img3 != "" || @hasuk_house.room_img3 != nil %>
                <li><img src="<%#= @hasuk_house.room_img3 %>" alt="" title="<%# unless @hasuk_house.room_price3.nil? %>월세 <%#= @hasuk_house.room_price3 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description3.nil? %> <%#= @hasuk_house.room_description3 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img4 != "" || @hasuk_house.room_img4 != nil %>
                <li><img src="<%#= @hasuk_house.room_img4 %>" alt="" title="<%# unless @hasuk_house.room_price4.nil? %>월세 <%#= @hasuk_house.room_price4 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description4.nil? %> <%#= @hasuk_house.room_description4 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img5 != "" || @hasuk_house.room_img5 != nil %>
                <li><img src="<%#= @hasuk_house.room_img5 %>" alt="" title="<%# unless @hasuk_house.room_price5.nil? %>월세 <%#= @hasuk_house.room_price5 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description5.nil? %> <%#= @hasuk_house.room_description5 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img6 != "" || @hasuk_house.room_img6 != nil %>
                <li><img src="<%#= @hasuk_house.room_img6 %>" alt="" title="<%# unless @hasuk_house.room_price6.nil? %>월세 <%#= @hasuk_house.room_price6 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description6.nil? %> <%#= @hasuk_house.room_description6 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img7 != "" || @hasuk_house.room_img7 != nil %>
                <li><img src="<%#= @hasuk_house.room_img7 %>" alt="" title="<%# unless @hasuk_house.room_price7.nil? %>월세 <%#= @hasuk_house.room_price7 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description7.nil? %> <%#= @hasuk_house.room_description7 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.room_img8 != "" || @hasuk_house.room_img8 != nil %>
                <li><img src="<%#= @hasuk_house.room_img8 %>" alt="" title="<%# unless @hasuk_house.room_price8.nil? %>월세 <%#= @hasuk_house.room_price8 %>만 원<%# end %>
                  <%# unless @hasuk_house.room_description8.nil? %> <%#= @hasuk_house.room_description8 %><%# end %>">
                </li>
              <%# end %>
              <%# if @hasuk_house.common_img1 != "" || @hasuk_house.common_img1 != nil %><li><img src="<%#= @hasuk_house.common_img1 %>" alt="" title="공동시설"></li><%# end %>
              <%# if @hasuk_house.common_img2 != "" || @hasuk_house.common_img2 != nil %><li><img src="<%#= @hasuk_house.common_img2 %>" alt="" title="공동시설"></li><%# end %>
              <%# if @hasuk_house.common_img3 != "" || @hasuk_house.common_img3 != nil %><li><img src="<%#= @hasuk_house.common_img3 %>" alt="" title="공동시설"></li><%# end %>
              <%# if @hasuk_house.common_img4 != "" || @hasuk_house.common_img4 != nil %><li><img src="<%#= @hasuk_house.common_img4 %>" alt="" title="공동시설"></li><%# end %>
              <%# if @hasuk_house.meal_img1 != "" || @hasuk_house.meal_img1 != nil %><li><img src="<%#= @hasuk_house.meal_img1 %>" alt="" title="식사사진"></li><%# end %>
              <%# if @hasuk_house.meal_img2 != "" || @hasuk_house.meal_img2 != nil %><li><img src="<%#= @hasuk_house.meal_img2 %>" alt="" title="식사사진"></li><%# end %>
              <%# if @hasuk_house.meal_img3 != "" || @hasuk_house.meal_img3 != nil %><li><img src="<%#= @hasuk_house.meal_img3 %>" alt="" title="식사사진"></li><%# end %>
              <%# if @hasuk_house.meal_img4 != "" || @hasuk_house.meal_img4 != nil %><li><img src="<%#= @hasuk_house.meal_img4 %>" alt="" title="식사사진"></li><%# end %>
           -->   
           <% for i in 1..8 %>
                <li><img align="middle" src="/images/bangs/ha<%= i %>.jpg" alt="" title="방사진<%= i %>" /> </li>
            <% end %>  
            <% for i in 1..4 %>
                <li><img align="middle" src="/images/bangs/ha<%= i+8 %>.jpg" alt="" title="공동시설사진<%= i %>" /> </li>
            <% end %>
            <% for i in 1..4 %>
                <li><img align="middle" src="/images/bangs/meal<%= i %>.jpg" alt="" title="음식사진<%= i %>" /> </li>
            <% end %>
              </ul>

    <!-- The thumbnails -->

  <ul id="bxslider-pager">
<!--
    <%# if @hasuk_house.room_img1 != "" || @hasuk_house.room_img1 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="0"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img1 %>" ></a></li>

    <%# end %>
    <%# if @hasuk_house.room_img2 != "" || @hasuk_house.room_img2 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="1"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img2 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img3 != "" || @hasuk_house.room_img3 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="2"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img3 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img4 != "" || @hasuk_house.room_img4 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="3"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img4 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img5 != "" || @hasuk_house.room_img5 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="4"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img5 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img6 != "" || @hasuk_house.room_img6 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="5"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img6 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img7 != "" || @hasuk_house.room_img7 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="6"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img7 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.room_img8 != "" || @hasuk_house.room_img8 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="7"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.room_img8 %>" ></a></li>
      
    <%# end %>
     <%# if @hasuk_house.common_img1 != "" || @hasuk_house.common_img1 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="8"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.common_img1 %>" ></a></li>
      
    <%# end %>
     <%# if @hasuk_house.common_img2 != "" || @hasuk_house.common_img2 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="9"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.common_img2 %>" ></a></li>
      
    <%# end %>
     <%# if @hasuk_house.common_img3 != "" || @hasuk_house.common_img3 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="10"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.common_img3 %>" ></a></li>
      
    <%# end %>
     <%# if @hasuk_house.common_img4 != "" || @hasuk_house.common_img4 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="11"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.common_img4 %>" ></a></li>
      
    <%# end %>
   <%# if @hasuk_house.meal_img1 != "" || @hasuk_house.meal_img1 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="12"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.meal_img1 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.meal_img2 != "" || @hasuk_house.meal_img2 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="13"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.meal_img2 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.meal_img3 != "" || @hasuk_house.meal_img3 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="14"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.meal_img3 %>" ></a></li>
      
    <%# end %>
    <%# if @hasuk_house.meal_img4 != "" || @hasuk_house.meal_img4 != nil %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="15"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.meal_img4 %>" ></a></li>
      
    <%# end %>
  -->  
  <% for i in 1..8 %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="<%= i-1 %>"><a href=""><img style="max-height:55px" src="/images/bangs/ha<%=i %>.jpg" ></a></li>
  <% end %>  
  <% for i in 1..4 %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="<%= i+7 %>"><a href=""><img style="max-height:55px" src="/images/bangs/ha<%=i+8 %>.jpg" ></a></li>
  <% end %>
  <% for i in 1..4 %>
      <li class="bxslider-inner" style="float:none" data-slideIndex="<%= i+11 %>"><a href=""><img style="max-height:55px" src="/images/bangs/meal<%=i %>.jpg" ></a></li>
  <% end %>
   <!--
    <li class="bxslider-inner" style="float:none" data-slideIndex="0"><a href=""><img style="max-height:55px" src="/images/bangs/ha1.jpg" ></a></li>
    <li class="bxslider-inner" style="float:none" data-slideIndex="1"><a href=""><img style="max-height:55px" src="/images/bangs/ha2.jpg" ></a></li>
    <li class="bxslider-inner" style="float:none" data-slideIndex="2"><a href=""><img style="max-height:55px" src="/images/bangs/ha3.jpg" ></a></li>
    <li class="bxslider-inner" style="float:none" data-slideIndex="3"><a href=""><img style="max-height:55px" src="/images/bangs/ha4.jpg" ></a></li>
    <li class="bxslider-inner" style="float:none" data-slideIndex="4"><a href=""><img style="max-height:55px" src="/images/bangs/ha5.jpg" ></a></li>
    <li class="bxslider-inner" style="float:none" data-slideIndex="5"><a href=""><img style="max-height:55px" src="/images/bangs/ha6.jpg" ></a></li>
  -->
  </ul>


            </div>
            <div id="address" style="width:100%;" role="tanpanel" class="tab-pane">
                  <div id="map" style="width:100%; height:490px; max-height:500px"></div>
                  <script>
                    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
              
                    var LatLng = new daum.maps.LatLng(<%= @hasuk_house.lat %>, <%= @hasuk_house.lng %>);
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                    	center: LatLng, //지도의 중심좌표.
                    	level: 3 //지도의 레벨(확대, 축소 정도)
                    };
                  
                    var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴
                    var markerPosition  = LatLng;

                    var marker = new daum.maps.Marker({
                        position: markerPosition
                    });
                    
                    marker.setMap(map);
                  </script>
                  
            </div>
            <div id="roadviewcon" style="width:100%;" role="tanpanel" class="tab-pane">
              <div id="roadview" style="width:100%; height:490px; max-height:500px"></div>
                  <script>
                    
                    var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
                    var roadview = new daum.maps.Roadview(roadviewContainer); //로드뷰 객체
                    var roadviewClient = new daum.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체
                    
                    var LatLng = new daum.maps.LatLng(<%= @hasuk_house.lat %>, <%= @hasuk_house.lng %>);
                    var position = LatLng;
                    
                    // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
                    roadviewClient.getNearestPanoId(position, 50, function(panoId) {
                        roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
                    });
                  </script>
            </div>
            
          </div> 
        </div> 
      </div>

      
      <div class="mob-border col-md-6 col-sm-6 col-xs-12">
          <div class="row" style="margin:0; padding:0;" >
            <div class="title col-lg-3 col-md-3 col-xs-11 col-sm-3">하숙집 정보</div>
            <div class="col-lg-9 col-md-9 hidden-xs hidden-sm hidden-md"><p class="tip"><span class="label tip-label">Tip</span>‘구역 정보’에서 구역 평균월세, 지역정보도 확인해보세요!</a></div>
          </div>
        <div class="info-zone">
          <div class="row col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6" style="margin:0; padding:0;">
            <p class="info" style="margin-top:3px"><span class="label">월세</span></p>
               <h5 id="price" style="color: #2980B9;  float:left"><%= @hasuk_house.price_from %> ~ <%= @hasuk_house.price_to %></h5></span>
               <span id="sub" style="float:left; margin-top: 5px;margin-left: 5px;">만원</span>
            </div>
            <div id="price_sale" class="col-md-6 col-sm-6 col-xs-6">
               <% if @hasuk_house.discount_price != 0 %>
                 <span class="fui-alert-circle" style="color:#E74C3C"></span>
                 첫 달 월세 <span style="color:#E74C3C; font-weight:bold"><%= number_with_delimiter(@hasuk_house.discount_price, :delimiter => ',') %></span> 할인
               <% end %>
            </div>
          </div><!--월세 정보 끝-->
          <div class="row col-xs-12"> <!--종류 & 계약기간-->
            <div class="col-md-6 col-xs-6" style="padding-left:0">
              <p class="info"><span class="label">유형</span><%= @hasuk_house.hasuk_kind%>
              <% if @hasuk_house.gender != "남녀공용" %>
                / <%= @hasuk_house.gender %>
              <% end %>
              </p>
            </div>
            <div class="col-md-6 col-xs-6" style="padding-left:0px">
              <p class="info"><span class="label">계약기간</span>최소 <%= @hasuk_house.least_contract %>개월</p>    
            </div>
          </div>
          
          
          <div class="row col-xs-12">
              <div class="col-md-6 col-xs-6" style="padding-left:0px">
                <% if @hasuk_house.small_deposit == nil && @hasuk_house.big_deposit == nil %>
                  <p class="info"><span class="label" style="margin-right: 0px;">DB</span>
                    없음
                  </p>
                <% else %>
                   <% if @hasuk_house.small_deposit == 0 %>
                     <% if @hasuk_house.big_deposit == 0 %>
                       <p class="info">
                         <span class="label" style="margin-right: 0px;">예치금</span>
                         없음
                       </p>
                     <% else %>
                       <p class="info">
                         <span class="label" style="margin-right: 0px;">보증금</span>
                         <%= @hasuk_house.big_deposit %>만 원
                       </p>
                     <% end %>
                   <% else %>
                     <p class="info">
                       <span class="label" style="margin-right: 0px;">예치금</span>
                       <%= @hasuk_house.small_deposit %>만 원
                     </p>
                   <% end %>
                <% end %>
              </div>
              <div class="col-md-6 col-xs-6" style="padding-left:0">
                <p class="info"><span class="label">관리비</span></p>
                <% if @hasuk_house.extra_price != 0 %>
                  <span id="inner-content"><%= @hasuk_house.extra_price %>만 원</span>
                <% elsif @hasuk_house.extra_price == 0  %>
                  <span id="inner-content">없음</span>
                <% else %>
                  <span id="inner-content">없음</span>
                <% end %>
              </div>
          </div>
          <div class="row col-xs-12">
            <div class="row" style="padding-left:0px">
            
            <% if @hasuk_house.building_age != nil %>
                 <p class="info"><span class="label" style="margin-right:0px">준공연도</span>
                   <%= @hasuk_house.building_age %>년
                   <% if @hasuk_house.building_age != nil %>
                     (<%= @hasuk_house.remodeling %>년 리모델링)
                   <% end %>   
                 </p>
            <% end %>
            </div>
          <hr>
          </div>
          <!--거리 -->
          <div class="row">
            <p class="info"><span class="label">주소</span><%= @hasuk_house.address %></p>
          </div>
          <div class="row">
            
            <p class="info"><span class="label" style="margin-right:0px">거리</span>
               <% if @hasuk_house.univ_distance1 != "학교선택" %>
                  <% if @hasuk_house.univ_distance1 == "이화" %>
                    <span style="color:#0c6f40"><%= @hasuk_house.univ_distance1 %>여대&nbsp;</span><%= @hasuk_house.ewha_gate1 %>
                  <% elsif @hasuk_house.univ_distance1 == "연세" %>
                    <span style="color:#202d61"><%= @hasuk_house.univ_distance1 %>대&nbsp;</span><%= @hasuk_house.yonsei_gate1 %>
                  <% else %>
                    <span style="color:#b20000"><%= @hasuk_house.univ_distance1 %>대&nbsp;</span><%= @hasuk_house.sogang_gate1 %>
                  <% end %>
                  <%= @hasuk_house.distance1 %>m(<%= @hasuk_house.distance_time1 %>분)
               <% end %>
               
               <% if @hasuk_house.univ_distance2 != "학교선택" %>
                  <% if @hasuk_house.univ_distance2 == "이화" %>
                    <span style="color:#0c6f40"><%= @hasuk_house.univ_distance2 %>여대&nbsp;</span><%= @hasuk_house.ewha_gate2 %>
                  <% elsif @hasuk_house.univ_distance2 == "연세" %>
                    <span style="color:#202d61"><%= @hasuk_house.univ_distance2 %>대&nbsp;</span><%= @hasuk_house.yonsei_gate2 %>
                  <% else %>
                    <span style="color:#b20000"><%= @hasuk_house.univ_distance2 %>대&nbsp;</span><%= @hasuk_house.sogang_gate2 %>
                  <% end %>
                  <%= @hasuk_house.distance2 %>m(<%= @hasuk_house.distance_time2 %>분)
               <% end %>
               
              </p>
              
          </div>
          <div class="row">
            <p class="info" style="margin-top:4px"><span class="label" style="margin-right:3px" >교통</span>
              <% if @hasuk_house.transportation_kind == "지하철" %>
                <% if @hasuk_house.transportation_subway == "대흥" %>
                    <span class="sub_circle line_number_6">6호선</span>&nbsp;<span id="inner-content" style="color:#9a4510; float:none"><%= @hasuk_house.transportation_subway %>역</span>
                <% elsif @hasuk_house.transportation_subway == "신촌" || @hasuk_house.transportation_subway == "이대" %>
                    <span class="sub_circle line_number_2">2호선</span>&nbsp;<span id="inner-content" style="color:#009044; float:none"><%= @hasuk_house.transportation_subway %>역</span>
                <% elsif @hasuk_house.transportation_subway == "서강대" %>
                    <div class="line_number_kj">경의중앙선</div>&nbsp;<span id="inner-content" style="color:#41b9b9; float:none"><%= @hasuk_house.transportation_subway %>역</span>
                <% elsif @hasuk_house.transportation_subway == "신촌기차" %>
                    <div class="line_number_kj">경의중앙선</div>&nbsp;<span id="inner-content" style="color:#0063b1; float:none"><%= @hasuk_house.transportation_subway %>역</span>
                <% end %>
                
              <% elsif @hasuk_house.transportation_kind == "버스" %>
                  <div class="line_number_bus">버스</div>
                  <span id="inner-content" style="color:#0063b1; float:none"><%= @hasuk_house.transportation_bus %></span>
              <% end %>
              <span id="inner-content" style="float:none"><%= @hasuk_house.transportation_distance %>m(<%= @hasuk_house.transportation_distance_time %>분)</span>
              
              <% unless @hasuk_house.transportation_memo.nil? %>
                <span class="info-memo">|&nbsp;<%= @hasuk_house.transportation_memo %></span>
              <% end %>
              </p>
          
          </div>
         
          <div class="row">
            <hr>
            <p class="info"><span class="label">옵션</span> ( <span class="fui-checkbox-checked" style="color:#2ECC71"></span> : 있음, <span class="fui-checkbox-unchecked" style="color:#95A5A6"></span> : 없음)</p>
            <div class="dain_table col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive">
                <table class="table" style="width:100%">
                  <tr>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option1.nil? || @hasuk_house.personal_option1 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;침대</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option2.nil? || @hasuk_house.personal_option2 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;책상</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option3.nil? || @hasuk_house.personal_option3 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;옷장</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option4.nil? || @hasuk_house.personal_option4 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;행거</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option5.nil? || @hasuk_house.personal_option5 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;수납장</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option6.nil? || @hasuk_house.personal_option6 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;에어컨</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option7.nil? || @hasuk_house.personal_option7 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;TV</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option8.nil? || @hasuk_house.personal_option8 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;화장실</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option9.nil? || @hasuk_house.personal_option9 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;샤워실</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option10.nil? || @hasuk_house.personal_option10 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;세탁기</span>
                    </td>                
                  </tr>
                  <tr>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option11.nil? || @hasuk_house.personal_option11 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;냉장고</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option12.nil? || @hasuk_house.personal_option12 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;전자렌지</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option13.nil? || @hasuk_house.personal_option13 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;가스렌지</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                      <% unless @hasuk_house.personal_option14.nil? || @hasuk_house.personal_option14 == "" %>
                        <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                      <% else %>
                        <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                      <% end %>
                      <span id="check-content">&nbsp;인덕션</span>
                    </td>
                    <td style="width:20%; padding-right:0;">
                    </td>  
                  </tr>
                </table>
              </div>
            </div>
            

            
            
          </div>
          <div class="row">
            <p class="info"><span class="label">공동시설</span></p>
            <div class="dain_table col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive">
            <table class="table" style="width:100%">
              <tr>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option1.nil? || @hasuk_house.common_option1 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;중앙난방</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option2.nil? || @hasuk_house.common_option2 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;화장실</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option3.nil? || @hasuk_house.common_option3 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;샤워실</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option4.nil? || @hasuk_house.common_option4 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;세탁실</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option5.nil? || @hasuk_house.common_option5 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;CCTV</span>
                </td>
              </tr>
              <tr>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option6.nil? || @hasuk_house.common_option6 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;냉장고</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option7.nil? || @hasuk_house.common_option7 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;전자렌지</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option8.nil? || @hasuk_house.common_option8 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;가스렌지</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option9.nil? || @hasuk_house.common_option9 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;인덕션</span>
                </td>
                <td style="width:20%; padding-right:0;">
                  <% unless @hasuk_house.common_option10.nil? || @hasuk_house.common_option10 == "" %>
                    <span class="fui-checkbox-checked" id="check-option" style="color:#2ECC71"></span>
                  <% else %>
                    <span class="fui-checkbox-unchecked" id="check-option" style="color:#95A5A6"></span>
                  <% end %>
                  <span id="check-content">&nbsp;정수기</span>
                </td>                
              </tr>
            </table>
            </div>
          </div>
         
          </div>
           
          <div class="row">
            <hr>
            <p class="info"><span class="label">식사</span></p>
            <% unless @hasuk_house.meal4.nil? || @hasuk_house.meal4 =="" %>
              <span id="inner-content"><%= @hasuk_house.meal1 %></span>
            <% else %>
              <% unless @hasuk_house.meal1.nil? %>
                <span id="inner-content"><%= @hasuk_house.meal1 %>,&nbsp;</span>
              <% end %>
              <% unless @hasuk_house.meal2.nil? %>
                <span id="inner-content"><%= @hasuk_house.meal2 %>,&nbsp;</span>
              <% end %>
              <% unless @hasuk_house.meal3.nil? %>
                <span id="inner-content"><%= @hasuk_house.meal3 %>&nbsp;</span>
              <% end %>

            <% end %>
            <% unless @hasuk_house.meal_memo.nil? %>
                <span id="inner-content">(&nbsp;<%= @hasuk_house.meal_memo %>)</span>
              <% end %>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-5" style="padding-left:0; padding-right:10px">
              <p class="info"><span class="label">인터넷</span><%= @hasuk_house.internet %></p>
            </div>
            <div class="col-md-6 col-xs-7" style="padding-left:0">
              <p class="info"><span class="label">쓰레기처리</span><%= @hasuk_house.personal_trash %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-6" style="padding-left:0">
              <p class="info"><span class="label">방크기</span></p>
              <span id="inner-content"><%= @hasuk_house.size_from %> ~ <%= @hasuk_house.size_to %>평</span>
            </div>
            <div class="col-md-6 col-xs-6" style="padding-left:0">
              <p class="info"><span class="label">사용층</span></p>
              <span id="inner-content"><%= @hasuk_house.floor_from %> ~ <%= @hasuk_house.floor_to %>층</span>
            </div>
          </div>
          
         
          
          
          <div class="row">
            <hr>
            <p class="info"><span class="label">설명</span></p>
            <div class="col-md-10" style="padding:0px">
            <span id="inner-content">
              <% if @hasuk_house.post_description.size > 20 %>
              <%= @hasuk_house.post_description.split(//).first(20).join %>...&nbsp;&nbsp;
            </span>
            <button style="float:left;padding: 4px;font-size: 0.6em;" type="button" class="btn btn-success" data-toggle="modal" data-target="#descript">
                더보기
              </button>
              <% else %>
                <%= @hasuk_house.post_description %>
              <% end %>
            </div>
  
          </div> 
    
          <div>
            <% if user_signed_in? %>
              <center><button type="button" id="like" class="btn btn-primary btn-md" style="background-color:#ee8176;">찜하기
              <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#contact" style="background-color:#71b7e6;">연락처보기</button></center>
            <% else %>
              <center><button type="button" id="like" class="btn btn-primary btn-md" style="background-color:#ee8176;">찜하기</button>
              <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#login" style="background-color:#71b7e6;">연락처보기</button></center>
            <% end %>
        </div>
      </div>
    </div>
    </div><!--row end-->
    
    <div class="row mob-border">
        <div class="title row">구역 정보</div>
         <div class="info-zone">
          <div class="row col-xs-12">
   
            ㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴ
        
    </div>  
  </div>  
  </div>
</div> 



<div class="modal fade " id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">연락처보기</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="fui-user" style="font-size:2em"></span>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left:0px">
            <p style="font-size:0.7em"><strong>하숙집 이름 : <%= @hasuk_house.hasuk_name %></strong></p>
            <p style="font-size:0.7em">전화번호 : <%= @hasuk_house.telPhone %></p>
            <p style="font-size:0.7em">휴대폰 : <%= @hasuk_house.celPhone %></p>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="descript" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">상세 설명</h4>
      </div>
      <div class="modal-body">
        <p><%= @hasuk_house.post_description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<script>
var $j = jQuery.noConflict();

var realSlider= $j("ul#bxslider").bxSlider({
      speed:1000,
      pager:false,
      controls: true,
      nextText:'<span></span>',
      prevText:'<span></span>',
      infiniteLoop:true,
      captions: true,
      onSlideBefore:function($slideElement, oldIndex, newIndex){
        changeRealThumb(realThumbSlider,newIndex);
        
      }
      
    });
    
    var realThumbSlider=$j("ul#bxslider-pager").bxSlider({
      minSlides: 1,
      maxSlides: 16,
      slideWidth: 100,
      slideMargin: 12,
      moveSlides: 1,
      pager:false,
      speed:1000,
      controls: true,
      infiniteLoop: false,
      hideControlOnEnd:true,
      nextText:'<span></span>',
      prevText:'<span></span>',
      onSlideBefore:function($slideElement, oldIndex, newIndex){
        /*$j("#sliderThumbReal ul .active").removeClass("active");
        $slideElement.addClass("active"); */

      }
    });
    
    linkRealSliders(realSlider,realThumbSlider);
    
    if($j("#bxslider-pager li").length<5){
      $j("#bxslider-pager .bx-next").hide();
    }

// sincronizza sliders realizzazioni
function linkRealSliders(bigS,thumbS){
  
  $j("ul#bxslider-pager").on("click","a",function(event){
    event.preventDefault();
    var newIndex=$j(this).parent().attr("data-slideIndex");
        bigS.goToSlide(newIndex);
  });
}

//slider!=$thumbSlider. slider is the realslider
function changeRealThumb(slider,newIndex){
  
  var $thumbS=$j("#bxslider-pager");
  $thumbS.find('.active').removeClass("active");
  $thumbS.find('li[data-slideIndex="'+newIndex+'"]').addClass("active");
  
  if(slider.getSlideCount()-newIndex>=4)slider.goToSlide(newIndex);
  else slider.goToSlide(slider.getSlideCount()-4);

}


$(document).ready(function(){
  $("#pictab1").click(function(){
    
    $(this).addClass("active");
    $("#pictab2").removeClass("active");
    $("#pictab3").removeClass("active");
  });
  $("#pictab2").click(function(){
    
    $(this).addClass("active");
    $("#pictab1").removeClass("active");
    $("#pictab3").removeClass("active");
  });
  $("#pictab3").click(function(){
    
    $(this).addClass("active");
    $("#pictab1").removeClass("active");
    $("#pictab2").removeClass("active");
  });
  
  $("#like").click(function(){
    alert("준비중입니다");
  });
});
</script>

</body>

</html>


