<head>
 <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=db900969ca97b093efb0ddf86d45f9e5"></script>
 <%= stylesheet_link_tag 'jquery.bxslider.css', media: 'all', 'data-turbolinks-track' => true %>
 <%= stylesheet_link_tag 'bars-1to10', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'jquery.bxslider.min', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'jquery.barrating.min', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag "//www.google.com/jsapi", "chartkick", 'data-turbolinks-track' => true %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<style>

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 0px;
}

body, main {
  background-color:#f5f5f5;
}
.container {
    background-color: #ffffff;
}
.row {
    margin:0;
}

.col-xs-6, .col-xs-12 {
  padding:0;
}


.col-sm-6 {
  padding: 0;
}
.info {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}

.oneline {
    color: #666666; 
}

.hasuk_name {
    font-size: 22px;
    font-weight: 600;
    color:#34495e;
}
.info_list {
    color: #82888a;
}

.price {
  color: #2ecc71;
  font-weight: 600;
  font-size: 22px;
  line-height:1.3;
}

.kok {
    color: #888888;
    font-size: 13px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}

 .sub_circle {
    border-radius: 40%;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 1;
}
    .line_number_2 {
        background: #29c531;
    }
    
    .line_number_6 {
        background: #cd7c2b;
    }
    
    .line_number_kj {
        background: #7bc2a3;
        border-radius: 15%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        font-size: 8px;
        display: inline-block;
    }
    
    .line_number_bus {
        background: #3498DB;
        border-radius: 15%;
        padding:1.5px;
        color: #ffffff;
        text-align: center;
        font-size: 8px;
        display: inline-block;
    }
    
    .bus_circle {
        border-radius: 20%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        
    }


@media (max-width: 321px) {

.green {
  margin-left:15px;
}
.info_list {
    padding-top: 3px;
}    


#pictab1{
  display:inline-block;
  width:32%;
}
#pictab2{
  display:inline-block;
  width:33%;
  margin-left:0px;
}
#pictab3{
  display:inline-block;
  width:32%;
}

.container {
  padding-right:0;
  padding-left:0;
}


.hasuk_name, .oneline {
  padding-left: 15px;
}

}

@media (max-width: 767px) {
.rate_btn {
  border-radius: 0;
}

.all_point {
  width: 140px;
  border-radius:0;
}

.rating-form {
  width: 100%;
}
.rate_description {
   margin-left: 16.66666667%;
   padding-left:30px;
}

.rate_height {
  margin-bottom: 10px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  padding: 0 20px 0 20px;
}

.my_rate{
  padding:15px;
  padding-top:15px;
  padding-right:0px;
  background-color: #ffffff;
}


.info {
  border: 1px solid #dddddd;
}

.info_content {
    font-size: 14px;
    line-height: 2;
}
.info_list {
    font-size: 13px;
    line-height: 2;
}
td {
  font-size: 16px;
}

.col-xs-2 {
  width: 22%;
} 

.col-xs-10 {
    width: 78%;
}
.info_content {
  line-height:;
}
  
.container {
  background-color:#f5f5f5;
  padding-top:10px;
  margin-bottom: 30px;
}
#pictab1{
  display:inline-block;
  width:32%;
}
#pictab2{
  display:inline-block;
  width:33%;
  margin-left:0px;
}
#pictab3{
  display:inline-block;
  width:32%;
}
#map {
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #999999;
}


.room {
  width:80px; 
  display:inline-block;
}

.manwon {
    font-size: 12px;
}

.photo {
   margin-top:10px;
}
.photo, .info,#map {
    margin-bottom: 30px;
}

.rate_section {
  margin-top: 15px;  
}

.br-theme-bars-1to10 .br-widget a {
  width: 12px;
}
.left_btn_col {
  border-top:1px solid #dddddd; 
  border-right:1px solid #dddddd;
}  

.right_btn_col {
  border-top:1px solid #dddddd; 
}

.comment {
  padding-left: 15px;
  padding-right:15px;
}
}

@media(min-width:768px) {
.comment_section {
  margin-top: 30px;
}
.left_btn_col {
  border-top:1px solid #999999; 
  border-right:1px solid #999999;
}  

.right_btn_col {
  border-top:1px solid #999999; 
}
.all_point {
  width: 140px;
  border-radius:0;
}

.rate_btn {
  border-radius: 0;
}
.rating-form {
  width: 550px;
}
.rate_height {
  margin-bottom:10px;
}
.rate_description {
  text-align: left;  
  padding-left: 50px;
}

.br-theme-bars-1to10 .br-widget a {
  width: 10px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  padding: 0 0 0 15px;
}

.col-sm-2 {
  padding:0;
}

.col-sm-10 {
  padding-left:5px;
}
td {
  font-size: 15px;
}

.my_rate{
  padding:30px;
  padding-top:15px;
  padding-right:0px;
  background-color: #f2f1ed;
  border-radius:15px;
}

.rate_section {
  margin-top: 20px;  
}

.col-xs-4 {
  width: 30%;  
}

.hasuk_name {
  margin-bottom: 5px;
  padding-right: 10px;
}
.price_margin {
    padding-top: 3px;    
}   

.container {
  padding: 60px;
  padding-top:10px;
  width: 920px;
  margin-bottom: 70px;
  
}

.row {
    margin-bottom: 2px;
}
.oneline {
    display: inline-block;
}

.info_content, .info_list {
    font-size: 13px;  
}

.info_list {
  padding-right:0;
}
.room {
  width:58px; 
  display:inline-block;
}

.manwon {
  font-size: 12px;
}

.photo {
  margin-right: 5px;
}

.info {
  margin-left: 5px; 
  border: 1px solid #999999;
  line-height: 1.5;
}

.title {
  position: relative;
}

#map {
  height: 500px; 
  background-color: #ffffff;
  border: 1px solid #999999;
}  

.location {
  margin-top:20px;
}

.table-responsive {
  padding-right:50px;
}

}

@media(min-width: 1200px) {
.rating-form {
  width: 550px;
}
.info_content, .info_list {
    font-size: 14px;  
}
}

.comment {
  border-bottom: 1px solid #eeeeec;
  color: #666666;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#ffffff;
}
.info_hr {
  padding:0 15px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #2ecc71;
    background-color: #ffffff;
}

.nav-tabs.nav-justified{
    border-left: 1px solid #999999;
    border-right:1px solid #999999;
    border-top: 1px solid #999999;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0;
    border: 0;
    color: #999999;
    background-color:#f5f5f5;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    color: #2ecc71;
    background-color:#ffffff;
    border:0;
}

.tip-label {
  background-color: #ffffff;
  color: #ee8176;
  border-color: #ee8176;
}

.small-photo {
    padding: 10px;
    overflow: hidden;
    background-color: #777777;
}

.img-slider-container {
    height: 65px;
    overflow: hidden;
}

.img-slider-container a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
}


.img-slider-container a.active img {
    border: 2px solid #fcb514;
}


.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}
#slide-counter {
  position: absolute;
  z-index: 1;
  color: #F1C40F;
  right: 5%;
  margin-top: 10px;
}

.btn-success2:hover {
      color:#fff;
      background-color:#2ecc71;
    }
.btn-success2:focus, .btn-success2 {
    color: #2ecc71;
    background-color: transparent;
    border: none;
}

.btn-danger2, .btn-danger {
  padding-top: 5px;
  padding-bottom:5px;
}


</style>

</head>
<body>
  <%= render 'hasuk_houses/ratingform' %>
  <%= render 'hasuk_houses/imgUpload' %>
<div class="container">

       <div class="row">
         <div class="inline green" style="display:inline-block; width:7px; height:22px; background-color:#2ECC71; margin-bottom:-2px;"></div>
              <% if @hasuk_house.hasuk_name != nil %>
                <span class="hasuk_name" style="display: inline-block"><%= @hasuk_house.hasuk_name %>&nbsp</span>
              <% else %>
                <span class="hasuk_name" style="display: inline-block"></span>
              <% end %>
<!--
              <%# if @hasuk_house.title != nil %>
                  <div class="oneline"><%#= @hasuk_house.title %></div>
              
              <%# else %>
                <div class="oneline"></div>
              <%# end %>
            </div>
-->
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="photo">
                <div class="photo-zone"> 
              <ul id="myTabs" class="btn-group nav nav-tabs nav-pills nav-justified" style="" role="tablist">
                  <li id="pictab1" role="presentation" class="active"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">사진</a></li>
                  <li id="pictab2" role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab" onclick="setBounds()">교통지도보기</a></li>
                  <li id="pictab3" role="presentation"><a href="#roadviewcon" aria-controls="roadviewcon" role="tab" data-toggle="tab">로드뷰</a></li>
              </ul>
            
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="photo" role="tabpanel" class="tab-pane active">
            <div id="slide-counter"></div>
                <ul id="bxslider">
  
                  <!--우리가 올리는 사진-->
                  <li><img src="<%= @hasuk_house.main_img.detail %>" alt="" title="" /> </li>
                  
                  <!--사람들이 올리는 사진-->
                  
                  <% @users_hasuk_img.each do |i| %>
                    <li><img src="<%= i.img.detail %>"/> </li>
                  <% end %>
                </ul>

    <!-- The thumbnails -->
<!--
                <ul id="bxslider-pager">
                  
                  <li data-slideIndex="0"><a href=""><img style="max-height:55px" src="<%#= @hasuk_house.main_img %>" ></a></li>
                  
                  
                  <%# @indexcounter=1 %>
                  <%# @users_hasuk_img.each do |i| %>
                    <li data-slideIndex="<%#= @indexcounter %>"><a href=""><img style="max-height:55px" src="<%#= i.img %>" ></a></li>
                    <#% @indexcounter += 1 %>
                  <#% end %>
                </ul>
-->
              </div>
            
            
            <div id="address" style="width:100%;" role="tanpanel" class="tab-pane">
              <div id="map" style="width:100%; height:490px; max-height:500px"></div>    
                  <script>
                    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
              
                    var hasukLatLng = new daum.maps.LatLng(<%= @hasuk_house.lat %>, <%= @hasuk_house.lng %>);
                    var options = { //지도를 생성할 때 필요한 기본 옵션
                    	center: hasukLatLng, //지도의 중심좌표.
                    	level: 6 //지도의 레벨(확대, 축소 정도)
                    };
                  
                    var map = new daum.maps.Map(container, options); //지도 생성 및 객체 리턴
                    var hasuk_imageSrc = '/images/icons/marker.png', // 마커이미지의 주소입니다    
                        hasuk_imageSize = new daum.maps.Size(20, 37), // 마커이미지의 크기입니다
                        hasuk_imageOption = {offset: new daum.maps.Point(10, 0)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    var hasuk_markerImage = new daum.maps.MarkerImage(hasuk_imageSrc, hasuk_imageSize, hasuk_imageOption);
                    var hasukmarker = new daum.maps.Marker({
                        position: hasukLatLng,
                        image: hasuk_markerImage 
                    });
                    
                    hasukmarker.setMap(map);
                    
                    var bounds = new daum.maps.LatLngBounds();
                    bounds.extend(hasukLatLng);
   
                    var imageSrc = '/images/icons/bus.jpg', // 마커이미지의 주소입니다    
                        imageSize = new daum.maps.Size(25, 25), // 마커이미지의 크기입니다
                        imageOption = {offset: new daum.maps.Point(12.5, 13)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOption);
                    var busstop = ["광성중고등학교", "이대역", "신촌오거리.2호선신촌역", "신촌기차역", "이대후문", "이대부고", "연세대앞/연세대학교", "연희교차로/브라운스톤우정", "서대문우체국"],
                        bus_lat = [37.549313, 37.556676, 37.556040, 37.558718, 37.563023, 37.566515, 37.559966, 37.565787, 37.562658],
                        bus_lng = [126.938714, 126.944758, 126.939930, 126.942588, 126.943584, 126.946457, 126.935345, 126.930240, 126.931350];
                  
                    for(var i = 0; i < 9; i++){
                      var markerPosition = new daum.maps.LatLng(bus_lat[i], bus_lng[i]); 
                      var marker = new daum.maps.Marker({
                        position: markerPosition, 
                        image: markerImage 
                      });
                      
                      marker.setMap(map);
                  
                      var iwContent = '<div style="padding:5px; font-size:12px;">'+busstop[i]+'</div>', 
                          iwPosition = new daum.maps.LatLng(bus_lat[i], bus_lng[i]),
                          iwRemoveable = true;
                      // 인포윈도우를 생성합니다
                      var infowindow = new daum.maps.InfoWindow({
                          position: iwPosition, 
                          content: iwContent,
                          removable : iwRemoveable
                      });
                      infowindow.open(map, marker);
                    }
                    map.setCenter(hasukLatLng);
                    
                    function setBounds() {
                        // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
                        // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
                        map.setBounds(bounds);
                    }
                  
                  </script>
            </div>
            <div id="roadviewcon" style="width:100%;" role="tanpanel" class="tab-pane">
              <div id="roadview" style="width:100%; height:490px; max-height:500px; z-index:2"></div>
                  <script>
                    
                    var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
                    var roadview = new daum.maps.Roadview(roadviewContainer); //로드뷰 객체
                    var roadviewClient = new daum.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체
                    
                    var LatLng = new daum.maps.LatLng(<%= @hasuk_house.lat %>, <%= @hasuk_house.lng %>);
                    var position = LatLng;
                    
                    // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
                    roadviewClient.getNearestPanoId(position, 50, function(panoId) {
                        roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
                    });
                  </script>
            </div>
            
          </div> 
        </div> 
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="info">
                <div class="row">
                    <div class="info_list col-xs-2">유형</div>
                  <% if @hasuk_house.hasuk_kind == "일반하숙" %>
                    <% if @hasuk_house.gender == "남녀공용" %>
                      <div class="info_content col-xs-10">일반하숙 / 남녀공용</div>
                    <% else %>
                      <div class="info_content col-xs-10">일반하숙 / 여성전용</div>
                    <% end %>
                  <% elsif @hasuk_house.hasuk_kind == "잠만 자는 방" %>
                    <% if @hasuk_house.gender == "남녀공용" %>
                      <div class="info_content col-xs-10">잠만 자는 방 / 남녀공용</div>
                    <% else %>
                      <div class="info_content col-xs-10">잠만 자는 방 / 여성전용</div>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
                <div class="row">
                    <div class="info_list col-xs-2">전화</div>
                    <div class="info_content col-xs-10">
                      <% if @hasuk_house.celPhone != nil %>
                          <div class="row"><%= @hasuk_house.celPhone %></div>
                      <% else %>
                        <% if @hasuk_house.telPhone != nil %>
                            <div class="row"><%= @hasuk_house.telPhone %></div>
                        <% else %>
                          -
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="info_list col-xs-2">주소</div>
                    <div class="info_content col-xs-10">
                      <%= @hasuk_house.address %>
    
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="info_list col-xs-2 price_margin">월세</div>
                    <div class="info_content col-xs-10">
                        <div class="col-sm-6 col-xs-12">
                            <span class="room">미니룸</span>
                            <%# if @hasuk_house.miniroom_price_from != nil %>
                              <span class="price"><%#= @hasuk_house.miniroom_price_from %>~<%#= @hasuk_house.miniroom_price_to %></span>
                              <span class="manwon">만원</span>
                            <%# else %>
                              <span class="price">-</span>
                            <%# end %>
                            
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <span class="room">원룸형</span>
                            <%# if @hasuk_house.oneroom_price_from != nil %>
                              <span class="price"><%#= @hasuk_house.oneroom_price_from %>~<%#= @hasuk_house.oneroom_price_to %></span>
                              <span class="manwon">만원</span>
                            <%# else %>
                              <span class="price">-</span>
                            <%# end %>
                            
                        </div>
                    </div>
                </div>
                -->
                <!--
                <div class="row">
                    <div class="info_list col-xs-2 price_margin">협의</div>
                    <div class="info_content col-xs-10">
                        <div class="col-sm-6 col-xs-12">
                          <%# if @hasuk_house.sleeping_only_price_from != nil %>  
                            <span class="room">잠만자면</span>
                            <span class="price"><%#= @hasuk_house.sleeping_only_price_from %></span>
                            <span class="manwon">만원~</span>
                          <%# else %>
                            <span class="price">-</span>
                          <%# end %>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                          <%# if @hasuk_house.mate_price_from != nil %>
                            <span class="room">2인1실</span>
                            <span class="price"><%#= @hasuk_house.mate_price_from %></span>
                            <span class="manwon">만원~</span>
                          <%# else %>
                            <span class="price">-</span>
                          <%# end %>
                            
                        </div>
                    </div>
                </div>
                -->
               <!--<div class="info_hr"><hr></div>-->
               <!--
                <div class="row">
                    <div class="info_list col-xs-2">보증금</div>
                    <div class="info_content col-sm-4 col-xs-10">
                      <%# if @hasuk_house.big_deposit != nil && @hasuk_house.big_deposit != 0 %>
                        <%#= @hasuk_house.big_deposit %><span class="manwon">만원</span>
                      <%# else %>
                        -
                      <%# end %>
                    </div>
                    <div class="info_list col-xs-2">예치금</div>
                    <%# if @hasuk_house.small_deposit != nil && @hasuk_house.small_deposit != 0 %>
                      <div class="info_content col-sm-4 col-xs-10"><%#= @hasuk_house.small_deposit %><span class="manwon">만원</span></div>                                        
                    
                    <%# else %>
                      <div class="info_content col-sm-4 col-xs-10"><span class="manwon">-</span></div> 
                    <%# end %>
                </div>
                -->
                <!--
                <div class="row">
                    <div class="info_list col-xs-2">관리비</div>
                    <div class="info_content col-sm-4 col-xs-10">
                      <%# if @hasuk_house.admin_fee == true %>
                        별도
                      <%# else %>
                        없음
                      <%# end %>
                    </div>
                    <div class="info_list col-xs-2" style="padding-right:0;">계약기간</div>
                    <%# if @hasuk_house.least_contract != nil && @hasuk_house.least_contract != 0 %>
                      <div class="info_content col-sm-4 col-xs-10"><%#= @hasuk_house.least_contract %><span class="manwon">개월 이상</span></div>                    
                    <%# else %>
                      <div class="info_content col-sm-4 col-xs-10"><span class="manwon">-</span></div>  
                    <%# end %>
                </div>
                -->
               <!--<div class="info_hr"><hr></div>-->
                <div class="row" style="margin-bottom:5px;">
                    <div class="info_list col-xs-2">통학</div>
                    <div class="info_content col-xs-10">
                      <% if @hasuk_house.univ1 != nil %>
                        <% if @hasuk_house.univ1 == "이화" %>
                          <div class="row"><%= @hasuk_house.univ1 %>여대 <%= @hasuk_house.gate1 %> <%= @hasuk_house.distance_time1 %></span><span class="manwon">분</span>(<%= @hasuk_house.distance1 %>m)</div>
                        <% else %>
                          <div class="row"><%= @hasuk_house.univ1 %>대 <%= @hasuk_house.gate1 %> <%= @hasuk_house.distance_time1 %></span><span class="manwon">분</span>(<%= @hasuk_house.distance1 %>m)</div>
                        <% end %>
                      <% else %>
                        <div class="row">-</div>
                      <% end %>
                      <% if @hasuk_house.univ2 != nil %>
                        <% if @hasuk_house.univ2 == "이화" %>
                          <div class="row"><%= @hasuk_house.univ2 %>여대 <%= @hasuk_house.gate2 %> <%= @hasuk_house.distance_time2 %></span><span class="manwon">분</span>(<%= @hasuk_house.distance2 %>m)</div>  
                        <% else %>
                          <div class="row"><%= @hasuk_house.univ2 %>대 <%= @hasuk_house.gate2 %> <%= @hasuk_house.distance_time2 %></span><span class="manwon">분</span>(<%= @hasuk_house.distance2 %>m)</div>  
                        <% end %>
                      <% else %>
                        <div class="row">-</div>
                      <% end %>
                    </div> 
                </div>
                <div class="row">
                    <div class="info_list col-xs-2">교통</div>
                    <div class="info_content col-xs-10">
                      <div class="row">
                        <% if @hasuk_house.trans_kind1 == "지하철" %>
                          <% if @hasuk_house.station1 == "대흥" %>
                              <span class="sub_circle line_number_6">6</span>&nbsp;<span id="subway" style="color:#9a4510"><%= @hasuk_house.station1 %>역</span>
                          <% elsif @hasuk_house.station1 == "신촌" || @hasuk_house.station1 == "이대" %>
                              <span class="sub_circle line_number_2">2</span>&nbsp;<span id="subway" style="color:#009044"><%= @hasuk_house.station1 %>역</span>
                          <% elsif @hasuk_house.station1 == "서강대" %>
                              <div class="line_number_kj">경의</div>&nbsp;<span id="subway" style="color:#41b9b9"><%= @hasuk_house.station1 %>역</span>
                          <% elsif @hasuk_house.station1 == "신촌기차" %>
                              <div class="line_number_kj">경의</div>&nbsp;<span id="subway" style="color:#0063b1"><%= @hasuk_house.station1 %>역</span>
                          <% end %>
                          <span><%= @hasuk_house.trans_distance_time1 %>분(<%= @hasuk_house.trans_distance1 %>m)</span>
                       <% elsif @hasuk_house.trans_kind1 == "버스" %>
                          <div class="line_number_bus">버스</div>
                          <span id="bus" style="color:#0063b1"><%= @hasuk_house.station1 %></span>
                          <span><%= @hasuk_house.trans_distance_time1 %>분(<%= @hasuk_house.trans_distance1 %>m)</span>
                      
                       <% else %>
                      
                        <span id="subway"> 신촌기차역 21분(1103m)</span>
                      
                       <% end %>  
                      </div>  
                      <div class="row">
                        <% if @hasuk_house.trans_kind2 == "지하철" %>
                          <% if @hasuk_house.station2 == "대흥" %>
                              <span class="sub_circle line_number_6">6</span>&nbsp;<span id="subway" style="color:#9a4510"><%= @hasuk_house.station2 %>역</span>
                          <% elsif @hasuk_house.station2 == "신촌" || @hasuk_house.station2 == "이대" %>
                              <span class="sub_circle line_number_2">2</span>&nbsp;<span id="subway" style="color:#009044"><%= @hasuk_house.station2 %>역</span>
                          <% elsif @hasuk_house.station2 == "서강대" %>
                              <div class="line_number_kj">경의</div>&nbsp;<span id="subway" style="color:#41b9b9"><%= @hasuk_house.station2 %>역</span>
                          <% elsif @hasuk_house.station2 == "신촌기차" %>
                              <div class="line_number_kj">경의</div>&nbsp;<span id="subway" style="color:#0063b1"><%= @hasuk_house.station2 %>역</span>
                          <% end %>
                          <span><%= @hasuk_house.trans_distance_time2 %>분(<%= @hasuk_house.trans_distance2 %>m)</span>
                       <% elsif @hasuk_house.trans_kind2 == "버스" %>
                          <div class="line_number_bus">버스</div>
                          <span id="bus" style="color:#0063b1"><%= @hasuk_house.station2 %></span>
                          <span><%= @hasuk_house.trans_distance_time2 %>분(<%= @hasuk_house.trans_distance2 %>m)</span>
                      
                       <% else %>
                      
                        <span id="subway"> 신촌기차역 21분(1103m)</span>
                      
                       <% end %>  
                      </div>
                       
                    </div> 
                </div>
                <div class="info_hr"><hr></div>
                <!--<div class="row">
                    <div class="info_list col-xs-12" style="padding-left:15px;">상세설명</div>
                    <div class="info_content col-xs-12">
                    
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:15px;">
                        <span id="inner-content" style="float:left;">
                          <%# if @hasuk_house.hasuk_house_description.size > 30 %>
                            <%#= @hasuk_house.hasuk_house_description.split(//).first(30).join %>...&nbsp;&nbsp;
                        </span>
                        <button style="float:left;padding: 4px;font-size: 0.6em;" type="button" class="btn btn-default" data-toggle="modal" data-target="#descript">
                            더보기
                          </button>
                          <%# else %>
                            <%#= @hasuk_house.hasuk_house_description %>
                          <%# end %>
                        </div>
              
                      </div> 
                    </div>
                </div><!--상세설명 끝-->
    
                  <!-- 전체 row-->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--<div class="inline green" style="display:inline-block; width:7px; height:22px; background-color:#2ECC71; margin-bottom:-2px;"></div><div class="hasuk_name" style="display:inline-block">&nbsp;리뷰<span style="font-size:15px">(참여: <%#= @avg_arr[0]%>명)</span></div>
        -->
        <!-- 평점 나오는 구간-->
        <% unless @avg_score[0].how_many_people_did == 0 %>
        
        <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var score = [
              <%= @avg_score[0].total_meal_score %>, 
              <%= @avg_score[0].total_clean_score %>,
              <%= @avg_score[0].total_silence_score %>,
              <%= @avg_score[0].total_aircondition_score %>,
              <%= @avg_score[0].total_cctv_score %>,
              <%= @avg_score[0].total_score %>,
              <%= @avg_score[0].all_score %>
              ];
            var colorset = [];
            
            for(var k=0; k<=6; k++){
              if(score[k] >= 3.7){
                colorset[k] = '#79b5e6';
              } else if (score[k] >= 2.7 && score[k] < 3.7) {
                colorset[k] = '#86cd65';
              } else if (score[k] >= 2.0 && score[k] < 2.7) {
                colorset[k] = '#ffc221';
              } else {
                colorset[k] = '#ff685f';
              }
            }
            var data = google.visualization.arrayToDataTable([
              ["Element", "평점", {role: "style"}],
              ["식사", <%= @avg_score[0].total_meal_score %>, colorset[0]],
              ["위생", <%= @avg_score[0].total_clean_score %>, colorset[1]],
              ["방음", <%= @avg_score[0].total_silence_score %>, colorset[2]],
              ["난방", <%= @avg_score[0].total_aircondition_score %>, colorset[3]],
              ["보안", <%= @avg_score[0].total_cctv_score %>, colorset[4]],
              ["가격", <%= @avg_score[0].total_score %>, colorset[5]],
              ["총점", <%= @avg_score[0].all_score %>, colorset[6]]
            ]);
      
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);
      
            var options = {
              fontName: 'source-han-sans-korean', 
              fontSize: 13,
              hAxis: {
                  format: 'short',
                  viewWindow: {
                    min: 0,
                    max: 4.3
                  }
              },
              title: "리뷰(참여<%= @avg_score[0].how_many_people_did %>명)",
              width: "100%",
              height: 237,
              bar: {groupWidth: "70%"},
              legend: { position: "none"},
              annotations: {
                textStyle: {
                  fontName: 'source-han-sans-korean',
                  fontSize: 13,
                  color: '#34495e'
                }
              }
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart"));
            chart.draw(view, options);
        }
      </script>
        <div id="barchart" style="width: 99%; height: auto;"></div>                          
        <% else %>
        <!--평가 없을 경우 -->
          <table style="width: 99%; height: 237px;">
            <tr>
               <td style="text-align: center; vertical-align: middle;">
                <span class="info_content">
                  아직 평가가 없습니다.<br>
                  평가를 남겨주세요.
                </span>
               </td>
            </tr>
          </table>
        <% end %>
      <!--
      <div class="table-responsive" style="margin-top:10px">
          <table class="table" style="width:100%;">
            
            
                <!--
                <tr>  
                  <td style="color:#82888a; border-top:0; padding-top:15px; padding-bottom:20px; font-size:14px" colspan="2">
                  <div class="row" style="margin-bottom:5px">* 총점 설명</div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-4" style="padding-right:0">
                      3.7 이상
                    </div>
                    <div class="col-xs-9 col-sm-8" style="padding:0">
                       가격도 저렴한데 조건도 좋음
                    </div>
                  </div>
                 <div class="row">
                    <div class="col-xs-3 col-sm-4" style="padding-right:0">
                      2.7 이상
                    </div>
                    <div class="col-xs-9 col-sm-8" style="padding:0">
                       가격 대비 괜찮음
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-4" style="padding-right:0">
                      2 이상
                    </div>
                    <div class="col-xs-9 col-sm-8" style="padding:0">
                       여기 안 갔으면 좋겠는데…<br>방이 없음 어쩔 수 없지…
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-4" style="padding-right:0">
                      2 미만
                    </div>
                    <div class="col-xs-9 col-sm-8" style="padding:0">
                       절대 가지마
                    </div>
                  </div>
                </td>
                </tr>
                
          </table>
        </div>총점 설명 섹션-->
      </div>
                <!--리뷰 끝-->
                <div class="info_hr"><hr></div>
                <div class="row" style="margin-top:10px; margin-bottom:15px; padding-right:15px; padding-left:15px;">
                    <div class="col-xs-6 kok">
                        조회수 <%= @page_view_count %>&nbsp;
                        <% if user_signed_in? %> 
                          <% if current_user.favorites.include?(@hasuk_house) != true %>
                            <span class="glyphicon glyphicon-heart" style="color:none;" aria-hidden="true"></span>
                            <span id="sizeoflike" data-id="<%= @hasuk_house.id %>"><%= @hasuk_house.favorited_by.size %></span>
                            <!--로그인 했는데 콕은 안함 -->
                          <% else %>
                            <span class="glyphicon glyphicon-heart" style="color:#E74C3C;" aria-hidden="true"></span>
                            <span id="sizeoflike" data-id="<%= @hasuk_house.id %>" style="color:#e74c4c"><%= @hasuk_house.favorited_by.size %></span>
                            <!--로그인하고 콕도 함 -->
                          <% end %>
                        <% else %>
                          <span class="glyphicon glyphicon-heart" style="color:none;" aria-hidden="true"></span>
                          <span id="sizeoflike" data-id="<%= @hasuk_house.id %>"><%= @hasuk_house.favorited_by.size %></span>
                          <!--로그인을 안함 -->
                        <% end %>
                    </div>
                    <div class="col-xs-6" style="padding:0px">
                        
                    <% if user_signed_in? %> 
                      <% if current_user.favorites.include?(@hasuk_house) != true %>
                        <%= link_to "♡ 콕하기", favorite_hasuk_house_path(@hasuk_house, type: "favorite"),:class => "vote btn btn-danger2 btn-sm", :style=>"border: 1px solid #ec7063; border-radius: 20px; display:block; font-size: 14x; float: right;", method: :put, :remote => true, data: { toggle_text: '콕했어요!', toggle_href: favorite_hasuk_house_path(@hasuk_house, type: "unfavorite"), id: @hasuk_house.id } %>
                      <% else %>
                        <%= link_to "콕했어요!", favorite_hasuk_house_path(@hasuk_house, type: "unfavorite"), :class => "vote btn btn-danger btn-sm",:style=>"border: 1px solid #E74C3C; border-radius:20px; display:block; font-size: 14px; float: right;", method: :put, :remote => true, data: { toggle_text: '♡ 콕하기', toggle_href: favorite_hasuk_house_path(@hasuk_house, type: "favorite"), id: @hasuk_house.id } %>
                      <% end %>
                      
                    <% else %>
                      <%= link_to "♡ 콕하기", '#login', :class => "btn btn-danger2 btn-md", :style=>"border: 1px solid #ec7063; border-radius:20px; font-size: 14px; float: right;", 'data-toggle': "modal" %>
                    <% end %>
                    
                    </div>
                </div>
                <div class="row" style="margin:0">
                    <% if user_signed_in? %>
                      <div class="col-xs-6 left_btn_col">
                        <%= link_to '#imgUpload', :class => "btn btn-success2 btn-md rate_btn btn-block", 'data-toggle': "modal" do %>
                          <span class="glyphicon glyphicon-camera"></span><%= " 사진 올리기" %>
                        <% end %>
                      </div> 
                      <div class="col-xs-6 right_btn_col">
                        <%= link_to '#ratingform', :class => "btn btn-success2 btn-md rate_btn btn-block", 'data-toggle': "modal" do %> 
                          <span class="glyphicon glyphicon-pencil"></span><%= " 평가 남기기" %>
                        <% end %>
                      </div> 
                        
                    <% else %>
                      <div class="col-xs-6 left_btn_col">
                        <%= link_to '#login', :class => "btn btn-success2 btn-md rate_btn btn-block", 'data-toggle': "modal" do %>
                          <span class="glyphicon glyphicon-camera"></span><%= " 사진 올리기" %>
                        <% end %>
                      </div> 
                      <div class="col-xs-6 right_btn_col">
                        <%= link_to '#login', :class => "btn btn-success2 btn-md rate_btn btn-block", 'data-toggle': "modal" do %> 
                          <span class="glyphicon glyphicon-pencil"></span><%= " 평가 남기기" %>
                        <% end %>
                      </div> 
                      <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="comment_section">
      
    <% if @user_comment[0].nil? %>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12" style="background-color:#f5f5f5; color:#666666; font-size:15px; padding-top:10px; padding-bottom:10px;">
         <center>이 하숙집의 첫번째 리뷰를 남겨주세요!</center>
        </div>
      </div>
    <% else %>  
    <% @anonymous = 1 %>
    <% @user_comment.each do |i| %>
    <% @user = User.where(id: i.user_id) %>
    
    <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 comment">
      <div class="row" style="font-weight:600">
        <div class="col-xs-6">
          익명<%= @anonymous %>
        </div>
        <div class="col-xs-6" style="color:#2ecc71; text-align:right;">
        
        <% unless i.all_score.nil? %>
          <% if i.all_score >= 4.3 %>A+
          <% elsif i.all_score >= 4 %>A
          <% elsif i.all_score >= 3.7 %>A-
          <% elsif i.all_score >= 3.3 %>B+
          <% elsif i.all_score >= 3 %>B  
          <% elsif i.all_score >= 2.7 %>B-
          <% elsif i.all_score >= 2.3 %>C+   
          <% elsif i.all_score >= 2 %>C
          <% elsif i.all_score >= 1 %>D
          <% else %>F
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="row">
        <%= i.comment %>  
      </div>
      <div class="row" style="font-size:13px; color: #82888a;">
        <div class="col-xs-6">
          <%= i.created_at.strftime("%Y-%m-%d  %p%I:%M") %>
        </div>
        <div class="col-xs-6" style="text-align:right">
          <% if user_signed_in? %>
            <% if @current_user_rate[0].user_id == current_user.id %>
              <%= link_to "삭제", rating_destroy_path(:id => @current_user_rate[0].user_id, :hasuk_house_id => @hasuk_house.id ), 'data-no-turbolink' => true, data: {confirm: "리뷰를 삭제하시면, 반영된 점수도 함께 삭제됩니다. 그래도 진행하시겠습니까?(물론 다시 쓸 수 있습니다.)"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
      
      <% @anonymous +=1 %>
    <% end %>
           <% end %> 
   </div> 
</div>    

<!--
<div class="modal fade" id="descript" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%#= @hasuk_house.title %></h4>
      </div>
      <div class="modal-body">
        <p><%#= @hasuk_house.hasuk_house_description %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
-->

<script>
<% if user_signed_in? %>
  <% @userid = RatingForHasukHouse.where({ :user_id => current_user.id, :avg_rating_score_id => @hasuk_house.id}) %>
  <% if @userid[0].nil? %>
    //로그인은 했는데 평가는 안 한 경우
  <% else %>
    <% if current_user.id == @userid[0].user_id %>
    //평가 한 경우
        $(".my_rate").css({"opacity":"0.2"});
        $(".my_rate").find('*').prop('disabled',true);
        $(".already-done").css("display", "block");
    <% end %>
  <% end %>
  <% else %>
  //로그인 안 한 경우
<% end %>
</script>

<script>
  $(".vote").click(function(){
      if($(this).hasClass("btn-danger2") == true) {
        $(this).removeClass("btn-danger2");
        $(this).addClass("btn-danger");
        $(".glyphicon-heart").css("color", "#e74c4c");
        $("#sizeoflike").css("color", "#e74c4c");
      } else if ($(this).hasClass("btn-danger") == true){
        $(this).removeClass("btn-danger");
        $(this).addClass("btn-danger2");
        $(".glyphicon-heart").css("color", "#888888");
        $("#sizeoflike").css("color", "#888888");
      }
     });
</script>

<script>
$('#pictab1 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show');
  $("#pictab2 a").tab("hide");
  $("#pictab3 a").tab("hide");
});
$('#pictab2 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show');
  $("#pictab1 a").tab("hide");
  $("#pictab2 a").tab("hide");
});
$('#pictab3 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show');
  $("#pictab1 a").tab("hide");
  $("#pictab3 a").tab("hide");
});
 
 var $jj = jQuery.noConflict();
  
  $('#slide-counter').prepend('<span class="current-index"></span>/');
  
  var realSlider= $("ul#bxslider").bxSlider({
        speed:1000,
        pager:false,
        controls: true,
        infiniteLoop:false,
        onSliderLoad: function (currentIndex){
        $('#slide-counter .current-index').text(currentIndex + 1);
        },
        onSlideBefore:function($slideElement, oldIndex, newIndex){
          //changeRealThumb(realThumbSlider,newIndex);
          $('#slide-counter .current-index').text(newIndex + 1);
        }
        
      });
  $('#slide-counter').append(realSlider.getSlideCount());
 
 /* 
// sincronizza sliders realizzazioni
  function linkRealSliders(bigS,thumbS){
    
    $("ul#bxslider-pager").on("click","a",function(event){
      event.preventDefault();
      var newIndex=$(this).parent().attr("data-slideIndex");
          bigS.goToSlide(newIndex);
    });
  }


      var realThumbSlider=$("ul#bxslider-pager").bxSlider({
        minSlides: 6,
        maxSlides: 6,
        slideWidth: 100,
        slideMargin: 12,
        moveSlides: 1,
        pager:false,
        speed:1000,
        controls: true,
        infiniteLoop:true,
        hideControlOnEnd:true,

      });
      
      linkRealSliders(realSlider,realThumbSlider);
     
      if($("#bxslider-pager li").length<5){
        $("#bxslider-pager .bx-next").hide();
      }



//slider!=$thumbSlider. slider is the realslider
  function changeRealThumb(slider,newIndex){
    
    var $thumbS=$("#bxslider-pager");
    $thumbS.find('.active').removeClass("active");
    $thumbS.find('li[data-slideIndex="'+newIndex+'"]').addClass("active");
    
    if(slider.getSlideCount()-newIndex>=4)slider.goToSlide(newIndex);
    else slider.goToSlide(slider.getSlideCount()-4);
  
  }
  */ 
</script>

</body>












