<p id="notice"><%= notice %></p>

<p>
  <strong>Hasuk name:</strong>
  <%= @hasuk_house.hasuk_name %>
</p>

<p>
  <strong>Celphone:</strong>
  <%= @hasuk_house.celPhone %>
</p>

<p>
  <strong>Telphone:</strong>
  <%= @hasuk_house.telPhone %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @hasuk_house.memo %>
</p>

<p>
  <strong>Hasuk kind:</strong>
  <%= @hasuk_house.hasuk_kind %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @hasuk_house.gender %>
</p>

<p>
  <strong>Size from:</strong>
  <%= @hasuk_house.size_from %>
</p>

<p>
  <strong>Size to:</strong>
  <%= @hasuk_house.size_to %>
</p>

<p>
  <strong>Floor from:</strong>
  <%= @hasuk_house.floor_from %>
</p>

<p>
  <strong>Floor to:</strong>
  <%= @hasuk_house.floor_to %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @hasuk_house.building_age %>
</p>

<p>
  <strong>Remodeling:</strong>
  <%= @hasuk_house.remodeling %>
</p>

<p>
  <strong>Small deposit:</strong>
  <%= @hasuk_house.small_deposit %>
</p>

<p>
  <strong>Big deposit:</strong>
  <%= @hasuk_house.big_deposit %>
</p>

<p>
  <strong>Price from:</strong>
  <%= @hasuk_house.price_from %>
</p>

<p>
  <strong>Price to:</strong>
  <%= @hasuk_house.price_to %>
</p>

<p>
  <strong>Least contract:</strong>
  <%= @hasuk_house.least_contract %>
</p>

<p>
  <strong>Extra price1:</strong>
  <%= @hasuk_house.extra_price1 %>
</p>

<p>
  <strong>Extra price2:</strong>
  <%= @hasuk_house.extra_price2 %>
</p>

<p>
  <strong>Extra price3:</strong>
  <%= @hasuk_house.extra_price3 %>
</p>

<p>
  <strong>Extra price4:</strong>
  <%= @hasuk_house.extra_price4 %>
</p>

<p>
  <strong>Extra price5:</strong>
  <%= @hasuk_house.extra_price5 %>
</p>

<p>
  <strong>Meal1:</strong>
  <%= @hasuk_house.meal1 %>
</p>

<p>
  <strong>Meal2:</strong>
  <%= @hasuk_house.meal2 %>
</p>

<p>
  <strong>Meal3:</strong>
  <%= @hasuk_house.meal3 %>
</p>

<p>
  <strong>Meal4:</strong>
  <%= @hasuk_house.meal4 %>
</p>

<p>
  <strong>Meal memo:</strong>
  <%= @hasuk_house.meal_memo %>
</p>

<p>
  <strong>Personal option1:</strong>
  <%= @hasuk_house.personal_option1 %>
</p>

<p>
  <strong>Personal option2:</strong>
  <%= @hasuk_house.personal_option2 %>
</p>

<p>
  <strong>Personal option3:</strong>
  <%= @hasuk_house.personal_option3 %>
</p>

<p>
  <strong>Personal option4:</strong>
  <%= @hasuk_house.personal_option4 %>
</p>

<p>
  <strong>Personal option5:</strong>
  <%= @hasuk_house.personal_option5 %>
</p>

<p>
  <strong>Personal option6:</strong>
  <%= @hasuk_house.personal_option6 %>
</p>

<p>
  <strong>Personal option7:</strong>
  <%= @hasuk_house.personal_option7 %>
</p>

<p>
  <strong>Personal option8:</strong>
  <%= @hasuk_house.personal_option8 %>
</p>

<p>
  <strong>Personal option9:</strong>
  <%= @hasuk_house.personal_option9 %>
</p>

<p>
  <strong>Personal option10:</strong>
  <%= @hasuk_house.personal_option10 %>
</p>

<p>
  <strong>Personal option11:</strong>
  <%= @hasuk_house.personal_option11 %>
</p>

<p>
  <strong>Personal option12:</strong>
  <%= @hasuk_house.personal_option12 %>
</p>

<p>
  <strong>Personal option13:</strong>
  <%= @hasuk_house.personal_option13 %>
</p>

<p>
  <strong>Personal option14:</strong>
  <%= @hasuk_house.personal_option14 %>
</p>

<p>
  <strong>Personal option15:</strong>
  <%= @hasuk_house.personal_option15 %>
</p>

<p>
  <strong>Personal option16:</strong>
  <%= @hasuk_house.personal_option16 %>
</p>

<p>
  <strong>Personal option17:</strong>
  <%= @hasuk_house.personal_option17 %>
</p>

<p>
  <strong>Common option1:</strong>
  <%= @hasuk_house.common_option1 %>
</p>

<p>
  <strong>Common option2:</strong>
  <%= @hasuk_house.common_option2 %>
</p>

<p>
  <strong>Common option3:</strong>
  <%= @hasuk_house.common_option3 %>
</p>

<p>
  <strong>Common option4:</strong>
  <%= @hasuk_house.common_option4 %>
</p>

<p>
  <strong>Common option5:</strong>
  <%= @hasuk_house.common_option5 %>
</p>

<p>
  <strong>Common option6:</strong>
  <%= @hasuk_house.common_option6 %>
</p>

<p>
  <strong>Common option7:</strong>
  <%= @hasuk_house.common_option7 %>
</p>

<p>
  <strong>Common option8:</strong>
  <%= @hasuk_house.common_option8 %>
</p>

<p>
  <strong>Common option9:</strong>
  <%= @hasuk_house.common_option9 %>
</p>

<p>
  <strong>Common option10:</strong>
  <%= @hasuk_house.common_option10 %>
</p>

<p>
  <strong>Common option11:</strong>
  <%= @hasuk_house.common_option11 %>
</p>

<p>
  <strong>Common option12:</strong>
  <%= @hasuk_house.common_option12 %>
</p>

<p>
  <strong>Common option13:</strong>
  <%= @hasuk_house.common_option13 %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @hasuk_house.internet %>
</p>

<p>
  <strong>Post description:</strong>
  <%= @hasuk_house.post_description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hasuk_house.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @hasuk_house.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @hasuk_house.lng %>
</p>

<p>
  <strong>Univ distance1:</strong>
  <%= @hasuk_house.univ_distance1 %>
</p>

<p>
  <strong>Univ distance2:</strong>
  <%= @hasuk_house.univ_distance2 %>
</p>

<p>
  <strong>Univ distance3:</strong>
  <%= @hasuk_house.univ_distance3 %>
</p>

<p>
  <strong>Sogang gate1:</strong>
  <%= @hasuk_house.sogang_gate1 %>
</p>

<p>
  <strong>Sogang gate2:</strong>
  <%= @hasuk_house.sogang_gate2 %>
</p>

<p>
  <strong>Sogang gate3:</strong>
  <%= @hasuk_house.sogang_gate3 %>
</p>

<p>
  <strong>Ewha gate1:</strong>
  <%= @hasuk_house.ewha_gate1 %>
</p>

<p>
  <strong>Ewha gate2:</strong>
  <%= @hasuk_house.ewha_gate2 %>
</p>

<p>
  <strong>Ewha gate3:</strong>
  <%= @hasuk_house.ewha_gate3 %>
</p>

<p>
  <strong>Yonsei gate1:</strong>
  <%= @hasuk_house.yonsei_gate1 %>
</p>

<p>
  <strong>Yonsei gate2:</strong>
  <%= @hasuk_house.yonsei_gate2 %>
</p>

<p>
  <strong>Yonsei gate3:</strong>
  <%= @hasuk_house.yonsei_gate3 %>
</p>

<p>
  <strong>Distance time1:</strong>
  <%= @hasuk_house.distance_time1 %>
</p>

<p>
  <strong>Distance time2:</strong>
  <%= @hasuk_house.distance_time2 %>
</p>

<p>
  <strong>Distance time3:</strong>
  <%= @hasuk_house.distance_time3 %>
</p>

<p>
  <strong>Distance1:</strong>
  <%= @hasuk_house.distance1 %>
</p>

<p>
  <strong>Distance2:</strong>
  <%= @hasuk_house.distance2 %>
</p>

<p>
  <strong>Distance3:</strong>
  <%= @hasuk_house.distance3 %>
</p>

<p>
  <strong>Room img1:</strong>
  <%= @hasuk_house.room_img1 %>
</p>

<p>
  <strong>Room img2:</strong>
  <%= @hasuk_house.room_img2 %>
</p>

<p>
  <strong>Room img3:</strong>
  <%= @hasuk_house.room_img3 %>
</p>

<p>
  <strong>Room img4:</strong>
  <%= @hasuk_house.room_img4 %>
</p>

<p>
  <strong>Room img5:</strong>
  <%= @hasuk_house.room_img5 %>
</p>

<p>
  <strong>Room img6:</strong>
  <%= @hasuk_house.room_img6 %>
</p>

<p>
  <strong>Room img7:</strong>
  <%= @hasuk_house.room_img7 %>
</p>

<p>
  <strong>Room img8:</strong>
  <%= @hasuk_house.room_img8 %>
</p>

<p>
  <strong>Room price1:</strong>
  <%= @hasuk_house.room_price1 %>
</p>

<p>
  <strong>Room price2:</strong>
  <%= @hasuk_house.room_price2 %>
</p>

<p>
  <strong>Room price3:</strong>
  <%= @hasuk_house.room_price3 %>
</p>

<p>
  <strong>Room price4:</strong>
  <%= @hasuk_house.room_price4 %>
</p>

<p>
  <strong>Room price5:</strong>
  <%= @hasuk_house.room_price5 %>
</p>

<p>
  <strong>Room price6:</strong>
  <%= @hasuk_house.room_price6 %>
</p>

<p>
  <strong>Room price7:</strong>
  <%= @hasuk_house.room_price7 %>
</p>

<p>
  <strong>Room price8:</strong>
  <%= @hasuk_house.room_price8 %>
</p>

<p>
  <strong>Room description1:</strong>
  <%= @hasuk_house.room_description1 %>
</p>

<p>
  <strong>Room description2:</strong>
  <%= @hasuk_house.room_description2 %>
</p>

<p>
  <strong>Room description3:</strong>
  <%= @hasuk_house.room_description3 %>
</p>

<p>
  <strong>Room description4:</strong>
  <%= @hasuk_house.room_description4 %>
</p>

<p>
  <strong>Room description5:</strong>
  <%= @hasuk_house.room_description5 %>
</p>

<p>
  <strong>Room description6:</strong>
  <%= @hasuk_house.room_description6 %>
</p>

<p>
  <strong>Room description7:</strong>
  <%= @hasuk_house.room_description7 %>
</p>

<p>
  <strong>Room description8:</strong>
  <%= @hasuk_house.room_description8 %>
</p>

<p>
  <strong>Common img1:</strong>
  <%= @hasuk_house.common_img1 %>
</p>

<p>
  <strong>Common img2:</strong>
  <%= @hasuk_house.common_img2 %>
</p>

<p>
  <strong>Common img3:</strong>
  <%= @hasuk_house.common_img3 %>
</p>

<p>
  <strong>Common img4:</strong>
  <%= @hasuk_house.common_img4 %>
</p>

<p>
  <strong>Meal img1:</strong>
  <%= @hasuk_house.meal_img1 %>
</p>

<p>
  <strong>Meal img2:</strong>
  <%= @hasuk_house.meal_img2 %>
</p>

<p>
  <strong>Meal img3:</strong>
  <%= @hasuk_house.meal_img3 %>
</p>

<p>
  <strong>Meal img4:</strong>
  <%= @hasuk_house.meal_img4 %>
</p>

<p>
  <strong>Discount price:</strong>
  <%= @hasuk_house.discount_price %>
</p>

<p>
  <strong>Discount rate:</strong>
  <%= @hasuk_house.discount_rate %>
</p>

<%= link_to 'Edit', edit_hasuk_house_path(@hasuk_house) %> |
<%= link_to 'Back', hasuk_houses_path %>
