<head>

<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
  });
  
});  
</script>

<style>
.row {
  margin-left:0px;
  margin-top:0px;
}
.container {
  margin-top:10px;
  background-color: #ffffff;
} 
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }


@media (max-width: 767px) {

.container {
  
}

.house-title {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
  padding-left: 0px;
}

.tip {
  font-size: 12px;
  color: #ee8176;
  margin: 0;
}

.mob-hidden {
  display: none;
}

.nav-container {
    padding: 0;
}

.section1, .section2, .section3 {
  margin-top: 30px;
}

.btn-lg{
  margin-top: 15px; 
  width: 130px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
}


}



@media(min-width:767px) and (max-width: 1199px) {
  
.container {
      margin-bottom: 50px;
  
}

.nav-container {
    padding-right: 30px;
    padding-left: 15px;
}

.navbar-nav > li > a {   /* 태블릿에서는 네비바 메뉴 간격 줄어들게*/
    padding: 15px 0px;
}

.house-title {
  font-size: 30px;
  padding: 15px 0;
}
  
.tip {
  font-size: 14px;
  color: #ee8176;
  float: right;
  margin-top: 25px;
}

.section1 {
  padding-right: 0;
}

.section3 {
  margin-top: 30px;
  margin-bottom: 70px;
}

.btn-lg{
  margin-top: 15px; 
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

}


@media(min-width: 1200px) {

.nav-container {
    padding-right: 30px;
    padding-left: 15px;
}


.house-title {
  font-size: 30px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.section1 {
    padding-right: 0;
}

.tip {
  font-size: 14px;
  color: #ee8176;
  margin-top:25px;
  float: right;
}

.section3 {
  margin-top: 30px;
  margin-bottom: 70px;
}

.btn-lg{
  margin-top: 15px; 
  width: 180px;
  margin-left: 5px;
  margin-right: 5px;
}

}
.title{
    height: 30px;
    width: 120px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align: center;
    color: #ffffff;
    background-color: #555555;
    padding-top:4px;
    font-size: 16px;
}


.botton1{
    float: left;
    width: 50%;
}


.img2 {
    height: 70px;
}

.tab-content {
  height: 300px;
}


.label{
  width: 50px; 
  border: 1px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #aeaeae;
  color: #666666;
  border-radius: 0.5em;
  margin-right: 5px;
}

hr{
  margin: 10px;
  border-color: #999999;
}


.row{
}

p {
  margin:0;
}

.box{
  background-color:#ffffff;
  border: 1px;
  border-style: solid;
  border-color: #aeaeae;
  border-top-color: #555555;
}


.photo-zone, .info-zone{
    border: solid 1px #999999;
}

.info-zone {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #58d68d;
}

.info-zone .row {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}

.nav-tabs.nav-justified>li>a {
    border: 0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0;
}

.tip-label {
  background-color: #ffffff;
  color: #ee8176;
  border-color: #ee8176;
}

.small-photo {
    padding: 10px;
    overflow: hidden;
    background-color: #777777;
}

.img-slider-container {
    height: 65px;
    overflow: hidden;
}

.img-slider-container a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
}


.img-slider-container a img {
   
}
.img-slider-container a.active img {
    border: 2px solid #fcb514;
}

.col-md-1 {
  padding-left: 0;
  padding-right: 10px;
}

a img {

}

.info {
  font-size: 16px;
  float:left;
}



</style>
</head>

<body>
  <div class="container">
  <div class="row">
      <ul class="bxslider">
          <li><img src="/images/bangs/bang1.jpg" title="Funky roots"/></li>
          <li><img src="/images/bangs/bang2.jpg" title="Funky roots"/></li>
          <li><img src="/images/bangs/bang3.jpg" title="Funky roots" /></li>
      </ul>

    
    <div class="col-md-6 col-sm-6">
       <h4><%= @hasuk_house.hasuk_name %></h4>
    </div>
    <div class="col-md-6 col-sm-6">
        <p class="tip"><span class="label tip-label">Tip</span>‘구역 정보’에서 구역 평균월세, 지역정보도 확인해보세요!</a>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
      <div class="section1 col-md-6 col-sm-6 col-xs-12">
        <div class="title">사진정보</div>
          <div class="photo-zone"> 
              <ul id="myTabs" class="btn-group nav nav-tabs nav-pills nav-justified" role="tablist">
                  <li role="presentation" class="active"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">사진</a></li>
                  <li role="presentation"><a href="#roadview" aria-controls="roadview" role="tab" data-toggle="tab">로드뷰</a></li>
              </ul>
            
          <!-- Tab panes -->
          
                <div class="tab-content">
                    <div id="photo" role="tabpanel" class="tab-pane active">
                      
                      <!--실험-->
                       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNzc3OiM1NTUvdGV4dDpGaXJzdCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MGQxN2FkOTRmIHRleHQgeyBmaWxsOiM1NTU7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NDVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUwZDE3YWQ5NGYiPjxyZWN0IHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMzA4LjI5Njg3NSIgeT0iMjY5Ljk5Njg3NSI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNjY2OiM0NDQvdGV4dDpTZWNvbmQgc2xpZGUKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTBkMTdhZjg1OCB0ZXh0IHsgZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MGQxN2FmODU4Ij48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjxnPjx0ZXh0IHg9IjI2NC45NTMxMjUiIHk9IjI2OS45OTY4NzUiPlNlY29uZCBzbGlkZTwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
        </div>
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#555:#333/text:Third slide" alt="Third slide [900x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNTU1OiMzMzMvdGV4dDpUaGlyZCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MGQxN2FkOTgwIHRleHQgeyBmaWxsOiMzMzM7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NDVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUwZDE3YWQ5ODAiPjxyZWN0IHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNTU1Ii8+PGc+PHRleHQgeD0iMjk4LjMyMDMxMjUiIHk9IjI2OS45OTY4NzUiPlRoaXJkIHNsaWRlPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
                     
                        <div class="small-photo col-md-12">
                           <div class="img-slider-container" style="width: 1344px;">
                              <a class="col-md-1 active" data-slide-index="0">
                                <img class="img-responsive" src="/images/bangs/bang2.jpg">
                              </a>
                              <a class="col-md-1" data-slide-index="1">
                                <img class="img-responsive" src="/images/bangs/bang1.jpg">
                              </a>
                              <a class="col-md-1" data-slide-index="2">
                                <img class="img-responsive" src="/images/bangs/bang3.jpg">
                              </a>
                              <a class="col-md-1" data-slide-index="3">
                                <img class="img-responsive" src="/images/bangs/bang4.jpg">
                              </a>
                              <a class="col-md-1" data-slide-index="4">
                                <img class="img-responsive" src="/images/bangs/bang5.jpg">
                              </a>
                              <a class="col-md-1" data-slide-index="5">
                                <img class="img-responsive" src="/images/bangs/bang6.jpg">
                              </a>
                           </div>
                        </div>
                    </div>
                <div id="roadview" role="tanpanel" class="tab-pane">
                      로드뷰
            </div>
          </div> 
      
      </div>
      </div><!--col-7-->
      
      <div class="section2 col-md-6 col-sm-6">
          <div class="row" style="margin:0; padding:0;" >
            <div class="title col-md-3">하숙집 정보</div>
          </div>
        <div class="info-zone">
          <div class="row col-xs-12">
            <p class="info"><span class="label">월세</span></p>
               <h5 style="margin-top:0px; margin-bottom:0px; float:left"><%= @hasuk_house.price_from %> ~ <%= @hasuk_house.price_to %></h5></span>
               <span style="float:left; margin-top: 5px;margin-left: 5px; font-size:0.9em">만원</span>
          </div><!--월세 정보 끝-->
          
          <div class="row col-xs-12">
              <div class="col-md-6 col-xs-6" style="padding-left:0">
                <% if @hasuk_house.small_deposit == nil && @hasuk_house.big_deposit == nil %>
                  <p class="info"><span class="label">DB</span>
                    <span style="float:left; margin-top: 4px;margin-left: 5px; font-size:0.9em">없음</span>
                  </p>
                <% else %>
                   <% if @hasuk_house.small_deposit == 0 %>
                     <% if @hasuk_house.big_deposit == 0 %>
                       <p class="info"><span class="label">예치금</span>
                         <span style="float:left; margin-top: 4px;margin-left: 5px; font-size:0.9em">없음</span>
                       </p>
                     <% else %>
                       <p class="info"><span class="label">보증금</span>
                         <h6 style="margin-top:3px; margin-bottom:0px; float:left"><%= @hasuk_house.big_deposit %></h6>
                         <span style="float:left; margin-top: 4px;margin-left: 5px; font-size:0.9em">만 원</span>
                       </p>
                     <% end %>
                   <% else %>
                     <p class="info"><span class="label">예치금</span>
                       <h6 style="margin-top:3px; margin-bottom:0px; float:left"><%= @hasuk_house.small_deposit %></h6>
                       <span style="float:left; margin-top: 4px;margin-left: 5px; font-size:0.9em">만 원</span>
                     </p>
                   <% end %>
                <% end %>
              </div>
              <div class="col-md-6 col-xs-6" style="padding-left:0">
                <p class="info"><span class="label">계약기간</span>
                  <p style="margin-top:2px; margin-bottom:0px; float:left"><%= @hasuk_house.least_contract %></p>
                  <span style="margin-top:2px; float:left">개월 이상</span>
                </p>    
              </div>
          </div>
          <div class="row col-xs-12">
            <p class="info"><span class="label">관리비</span>어쩌구</p>
          </div>
          <div class="row col-xs-12">
            <p class="info"><span class="label">종류</span>어쩌구</p>
          </div>
          <div class="row">
            <p class="info"><span class="label">위치</span>어쩌구</p>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6 col-xs-6" style="padding-left:0">
              <p class="info"><span class="label">방크기</span>어쩌구</p>
            </div>
            <div class="col-md-6 col-xs-6" style="padding-left:0">
              <p class="info"><span class="label">사용층</span>어쩌구</p>
            </div>
          </div>
          <div class="row">
            <p class="info"><span class="label">식사</span>어쩌구</p>
          </div>
          <div class="row">
            <p class="info"><span class="label">옵션</span>어쩌구</p>
          </div>
          <div class="row">
            <p class="info"><span class="label">공동시설</span>어쩌구</p>
          </div>
          <hr>
          <div class="row col-xs-12">
            <p class="info"><span class="label">설명</span>어쩌구</p>
          </div>
          <div>
              <center><button type="button" class="btn btn-primary btn-lg" style="background-color:#ee8176;">찜하기</button>
              <button type="button" class="btn btn-primary btn-lg" style="background-color:#71b7e6;">연락처보기</button>
              </center>
          </div>
        
      </div>
    </div>
    </div><!--row end-->
    
    <div class="row">
    <div class="section3">
      <div class="col-md-12">
        
        <div class="title">구역 정보</div>
        <div class="box">
            <div class="content"> </div>
        </div>
    </div>  
  </div>  
  </div>
</div> 


<%= link_to 'Edit', edit_hasuk_house_path(@hasuk_house) %> |
<%= link_to 'Back', hasuk_houses_path %>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/index_effect.js"></script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Flat-UI-2.2.2/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Flat-UI-2.2.2/dist/js/flat-ui.min.js"></script>


</body>

</html>


