<style type="text/css">
    .popover#popover_content_wrapper{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
    }
    
     #edit-account.btn-info{
      color:#3498db;
      background-color:#fff;
      border:1px solid #3498db;
    }
    #edit-account.btn-info:hover {
      color:#fff;
      background-color:#31b0d5;
      border:1px solid #31b0d5;
    }
    #out.btn-danger {
      color:#e74c3c;
      background-color:#fff;
      border:1px solid #e74c3c;
    }
    #out.btn-danger:hover {
      color:#fff;
      background-color:#e74c3c;
      border:1px solid #e74c3c;
    }
    #myroom.btn-warning {
      color:#f1c40f;
      background-color:#fff;
      border:1px solid #f1c40f;
    }
    #myroom.btn-warning:hover {
      color:#fff;
      background-color:#f1c40f;
      border:1px solid #f1c40f;
    }
    
    .search_menu {
         border-radius:20px; 
         border:1px solid #2ECC71; 
         padding-top: 5px; 
         padding-bottom: 5px; 
         padding-right:15px; 
         padding-left: 15px;
    }
    
    #log-out:hover {
        color:#fff;
        background-color:#2ECC71;
    }
</style>

<% if current_page?('/') %>
  <% if user_signed_in? %>
    <% @admin = User.where(id: 2) %>
    <% if @admin[0].id == current_user.id %> 
    <li><%= link_to "관리자 페이지", "/admin/index", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
    <li><%= link_to "하숙집 등록", "/hasuk_houses/new", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
    <% end %>
    <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready' %></li>
    <li><%= link_to "#popup","data-toggle" => "popover", "data-trigger" =>"click", "data-placement" =>"bottom",  "data-container" => "body", :class => 'btn btn-small myaccount' do %>
     <% if current_user.name.include? '@' %>
         <%= current_user.name.downcase.split("@").first %>님
     <% else %>
         <%= current_user.name %>님
     <% end %>
     <span style="top:3px" class="fui-triangle-down-small"></span>
    <% end %>
    </li>
        

<!-- 계정 정보 보여주는 용-->
<div id="popover_content_wrapper" style="display: none">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:5px; padding-right: 5px; padding-top:3px;">
            <span class="fui-user" style="font-size:2em"></span>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9" style="padding-left:0px; padding-right: 5px;">
            <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0; padding-top:2px">
              <span>
                  <% if current_user.name.include? '@' %>
                    <%= current_user.name.downcase.split("@").first %>님
                  <% else %>
                    <%= current_user.name %>님
                  <% end %>
              </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding:0;">
            <%= link_to '로그아웃', destroy_user_session_path, :method=>'delete', :class => 'btn btn-small', :id => "log-out", style:"font-size: 12px; padding: 5px;" %>
            </div>
            <span style="font-size:12px"><%= current_user.email %></span>
          </div>
    </div>
    <div class="row" style="padding:15px">
        <%= link_to "콕 목록", "/map/myfavorite", :class => 'btn btn-danger','data-no-turbolink' => true, :id =>"out", style:"width:100%", "data-dismiss" => "popover" %>
    </div>
    <div class="row" style="padding:15px; padding-top:0px">
        <%= link_to "정보수정", "#edit", "data-toggle" => "modal", :class => 'btn btn-info', :id =>"edit-account", style:"width:100%", "data-dismiss" => "popover" %>
    </div>
    <% if user_signed_in? %>
     <% @admin = User.where(id: 2) %>
         <% if @admin[0].id == current_user.id %> 
        <div class="row" style="padding:15px; padding-top:0px">
            <%= link_to "내가 등록한 방", "/hasuk_houses", :class => 'btn btn-warning', :id =>"myroom", style:"width:100%", "data-dismiss" => "popover" %>
        </div>
        
        <% end %>
    <% end %>
</div>

  <% else %>
    <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready' %></li>
    <li><%= link_to "로그인", "#login", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
    <li><%= link_to "회원가입", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
    
  <% end %><!--인덱스 페이지 -->
  
  
<% elsif current_page?('/map/mappage') || current_page?('/map/map_detail') %>
    <% if user_signed_in? %>
        <li>
            <%= link_to "#search", "data-toggle" => "modal", :class => 'btn btn-small', style:"padding-right: 15px;", :id => "close"  do %>
                    <span class="search_menu"><span class="fui-search"></span>하숙집 검색</span>
            <% end %>
        </li>
        <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready', :id => "close" %></li>
        <% @admin = User.where(id: 2) %>
        <% if @admin[0].id == current_user.id %>
        <li><%= link_to "관리자 페이지", "/admin/index", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
        <li><%= link_to "하숙집 등록", "/hasuk_houses/new", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
        <% end %>
        <li><%= link_to "#popup","data-toggle" => "popover", "data-trigger" =>"click", "data-placement" =>"bottom",  "data-container" => "body", :class => 'btn btn-small myaccount' do %>
             <% if current_user.name.include? '@' %>
                 <%= current_user.name.downcase.split("@").first %>님
             <% else %>
                 <%= current_user.name %>님
             <% end %>
             <span style="top:3px" class="fui-triangle-down-small"></span>
            <% end %>
        </li>
        

<!-- 계정 정보 보여주는 용-->
<div id="popover_content_wrapper" style="display: none">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:5px; padding-right: 5px; padding-top:3px">
            <span class="fui-user" style="font-size:2em"></span>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9" style="padding-left:0px; padding-right: 5px;">
            <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0; padding-top:2px">
                <span>
                <% if current_user.name.include? '@' %>
                     <%= current_user.name.downcase.split("@").first %>님
                 <% else %>
                     <%= current_user.name %>님
                 <% end %>
                </span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="padding:0;">
            <%= link_to '로그아웃', destroy_user_session_path, :method=>'delete', :class => 'btn btn-small', :id => "log-out", style:"font-size: 12px; padding: 5px;" %>
            </div>
            <span style="font-size:12px"><%= current_user.email %></span>
          </div>
    </div>
    <div class="row" style="padding:15px">
        <%= link_to "콕 목록", "/map/myfavorite", :class => 'btn btn-danger', 'data-no-turbolink' => true, :id =>"out", style:"width:100%", "data-dismiss" => "popover" %>
    </div>
    <div class="row" style="padding:15px; padding-top:0px">
        <%= link_to "정보수정", "#edit", "data-toggle" => "modal", :class => 'btn btn-info', :id =>"edit-account", style:"width:100%", "data-dismiss" => "popover" %>
    </div>
    <% if user_signed_in? %>
     <% @admin = User.where(id: 2) %>
         <% if @admin[0].id == current_user.id %> 
        <div class="row" style="padding:15px; padding-top:0px">
            <%= link_to "내가 등록한 방", "/hasuk_houses", :class => 'btn btn-warning', :id =>"myroom", style:"width:100%", "data-dismiss" => "popover" %>
        </div>
        <% end %>
    <% end %>
</div>

    <% else %><!--로그인 하지 않은 경우 -->
        <li>
            <%= link_to "#search", "data-toggle" => "modal", :class => 'btn btn-small', style:"padding-right: 15px;"  do %>
                
                    <span class="search_menu"><span class="fui-search" style="top:2px"></span>하숙집 검색</span>
              
            <% end %>
        </li>
        <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready', :id => "close" %></li>
        <li><%= link_to "로그인", "#login", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
        <li><%= link_to "회원가입", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
    <% end %>

<% else %>
    <% if user_signed_in? %>
        <% @admin = User.where(id: 2) %>
        <% if @admin[0].id == current_user.id %> 
        <li><%= link_to "관리자 페이지", "/admin/index", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
        <li><%= link_to "하숙집 등록", "/hasuk_houses/new", 'data-no-turbolink' => true, :class => 'btn btn-small', :id => "close" %></li>
        <% end %>
        
        <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready', :id => "close" %></li>
        <li><%= link_to "#popup","data-toggle" => "popover", "data-trigger" =>"click", "data-placement" =>"bottom",  "data-container" => "body", :class => 'btn btn-small myaccount' do %>
         <% if current_user.name.include? '@' %>
             <%= current_user.name.downcase.split("@").first %>님
         <% else %>
             <%= current_user.name %>님
         <% end %>
         
         <span style="top:3px" class="fui-triangle-down-small"></span>
        <% end %>
        </li>
            
    
    <!-- 계정 정보 보여주는 용-->
    <div id="popover_content_wrapper" style="display: none">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:5px; padding-right: 5px; padding-top:3px">
                <span class="fui-user" style="font-size:2em"></span>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9" style="padding-left:0px; padding-right: 5px;">
                <div class="col-md-8 col-sm-8 col-xs-8" style="padding:0; padding-top:2px">
                    <span>
                        <% if current_user.name.include? '@' %>
                          <%= current_user.name.downcase.split("@").first %>님
                        <% else %>
                          <%= current_user.name %>님
                        <% end %>
                        </span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding:0;">
                <%= link_to '로그아웃', destroy_user_session_path, :method=>'delete', :class => 'btn btn-small', :id => "log-out", style:"font-size: 12px; padding: 5px;" %>
                </div>
                <span style="font-size:12px"><%= current_user.email %></span>
              </div>
        </div>
        <div class="row" style="padding:15px">
            <%= link_to "콕 목록", "/map/myfavorite", :class => 'btn btn-danger','data-no-turbolink' => true, :id =>"out", style:"width:100%", "data-dismiss" => "popover" %>
        </div>
        <div class="row" style="padding:15px; padding-top:0px">
            <%= link_to "정보수정", "#edit", "data-toggle" => "modal", :class => 'btn btn-info', :id =>"edit-account", style:"width:100%", "data-dismiss" => "popover" %>
        </div>
        <% if user_signed_in? %>
         <% @admin = User.where(id: 2) %>
             <% if @admin[0].id == current_user.id %> 
            <div class="row" style="padding:15px; padding-top:0px">
                <%= link_to "내가 등록한 방", "/hasuk_houses", :class => 'btn btn-warning', :id =>"myroom", style:"width:100%", "data-dismiss" => "popover" %>
            </div>
            <% end %>
        <% end %>
    </div>
    
      <% else %>
        
        <li><%= link_to "학교주변 지역정보", "#", :class => 'btn btn-small ready', :id => "close" %></li>
        <li><%= link_to "로그인", "#login", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
        <li><%= link_to "회원가입", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small', :id => "close" %></li>
        
      <% end %><!--나머지 페이지 -->

<% end %>

<script>
//popover 관련 

$(document).ready(function(){
    $(".myaccount").popover({
      html : true,
      container: 'body',
      content: function() {
      return $('#popover_content_wrapper').html();
      }
    });
    $(".namesearch").popover({
      html : true,
      container: 'body',
      content: function() {
      return $('#popover_content_wrapper2').html();
      }
    });
    
    $(".myaccount").each(function () {
    var button = $(this);
    button.popover().on('shown.bs.popover', function() {
        button.data('bs.popover').tip().find('[data-dismiss="popover"]').on('click', function () {
            button.popover('toggle');
        });
    });
    });
    $(".namesearch").each(function () {
    var button = $(this);
    button.popover().on('shown.bs.popover', function() {
        button.data('bs.popover').tip().find('[data-dismiss="popover"]').on('click', function () {
            button.popover('toggle');
        });
    });
    });

});

//popover 관련
$(".ready").click(function(){
       alert("준비중인 서비스입니다."); 
    });
</script>