<style type="text/css">
 /* #submitt{
    color:#fff;
    background-color:#1ABC9C;
    border:0;
    margin-top:0px;
  }
  #submitt:hover {
    
    font-weight:bold;
  }*/

  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#2ecc71;
  }

  
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:#2ecc71;
  }
 

</style>

  
<% if current_page?('/map/mappage') || current_page?('/map/map_detail') %>

  <% if user_signed_in? %>
    <% if @univ == "이화" %>
        <li><%= link_to "#{@univ}여자대학교", "#", :class => 'btn btn-small', style:"color:#0c6f40" %></li>
    <% elsif @univ == "서강" %>
        <li><%= link_to "#{@univ}대학교", "#", :class => 'btn btn-small', style:"color:#b20000" %></li>
    <% elsif @univ == "연세" %>
        <li><%= link_to "#{@univ}대학교", "#", :class => 'btn btn-small', style:"color:#202d61" %></li>
    <% end %>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align:center">학교 변경하기<b class="caret"></b></a>
        <ul class="dropdown-menu" style="text-align:center; background-color:#2ecc71">
            <li>
              <form id="sogang" action="/map/mappage" method="GET">
                <input type="hidden" value="서강" name="univ">
                <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-success" >
              </form>
            </li>
            <li>
              <form id="ewha" action="/map/mappage" method="GET">
                <input type="hidden" value="이화" name="univ">
                <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-success">
              </form>
            </li>
            <li>
              <form id="yonsei" action="/map/mappage" method="GET">
                <input type="hidden" value="연세" name="univ">
                <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-success">
              </form>
            </li>  
        </ul>
      </li>
      
  <% else %>
    <% if @univ == "이화" %>
        <li><%= link_to "#{@univ}여자대학교", "#", :class => 'btn btn-small', style:"color:#0c6f40" %></li>
    <% elsif @univ == "서강" %>
        <li><%= link_to "#{@univ}대학교", "#", :class => 'btn btn-small', style:"color:#b20000" %></li>
    <% elsif @univ == "연세" %>
        <li><%= link_to "#{@univ}대학교", "#", :class => 'btn btn-small', style:"color:#202d61" %></li>
    <% end %>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align:center">학교 변경하기<b class="caret"></b></a>
      <ul class="dropdown-menu" style="text-align:center; background-color:#2ecc71">
          <li>
            <form id="sogang" action="/map/mappage" method="GET">
              <input type="hidden" value="서강" name="univ">
              <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-success" >
            </form>
          </li>
          <li>
            <form id="ewha" action="/map/mappage" method="GET">
              <input type="hidden" value="이화" name="univ">
              <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-success">
            </form>
          </li>
          <li>
            <form id="yonsei" action="/map/mappage" method="GET">
              <input type="hidden" value="연세" name="univ">
              <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-success">
            </form>
          </li>  
      </ul>
    </li>
    
  <% end %><!--로그인별 분류-->


  
<% end %><!--페이지별 분류-->

