<style type="text/css">
 /* #submitt{
    color:#fff;
    background-color:#1ABC9C;
    border:0;
    margin-top:0px;
  }
  #submitt:hover {
    
    font-weight:bold;
  }*/

  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#2ecc71;
  }

  
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:#2ecc71;
  }
  
  .btn-default2:hover, .btn-default2.hover, .btn-default2:focus, .btn-default2:active, .btn-default2.active, .open > .dropdown-toggle.btn-default2 {
    color: #ffffff;
    background-color: #cacfd2;
    border-color: #cacfd2;
}
 
  .btn-default2 {
    background-color: #ffffff;
    color: #666666;
    border-color:#ffffff;
  }
  
</style>

  
<% if current_page?('/map/mappage') || current_page?('/map/map_detail') %>

  <% if user_signed_in? %>
    <% if @univ == "이화" %>
        <li class="dropdown" style="text-align:center">
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#0c6f40" do %>
            <%= @univ %>여자대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="sogang" action="/map/mappage" method="GET">
                <input type="hidden" value="서강" name="univ">
                <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-default2" >
              </form>
            </li>
            <li>
              <form id="yonsei" action="/map/mappage" method="GET">
                <input type="hidden" value="연세" name="univ">
                <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-default2">
              </form>
            </li>  
          </ul>
        </li>
    <% elsif @univ == "서강" %>
        <li class="dropdown" style="text-align:center">
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#b20000" do %>
            <%= @univ %>대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="yonsei" action="/map/mappage" method="GET">
                <input type="hidden" value="연세" name="univ">
                <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-default2">
              </form>
            </li>
            <li>
            <form id="ewha" action="/map/mappage" method="GET">
              <input type="hidden" value="이화" name="univ">
              <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-default2">
            </form>
          </li>
          </ul>
        </li>
    <% elsif @univ == "연세" %>
        <li class="dropdown" style="text-align:center">
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#202d61" do %>
            <%= @univ %>대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="sogang" action="/map/mappage" method="GET">
                <input type="hidden" value="서강" name="univ">
                <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-default2" >
              </form>
            </li>
            <li>
            <form id="ewha" action="/map/mappage" method="GET">
              <input type="hidden" value="이화" name="univ">
              <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-default2">
            </form>
          </li>
          </ul>
        </li>
    <% end %>
      
        
      
  <% else %>
    <% if @univ == "이화" %>
        <li class="dropdown" style="text-align:center">
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#0c6f40" do %>
            <%= @univ %>여자대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="sogang" action="/map/mappage" method="GET">
                <input type="hidden" value="서강" name="univ">
                <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-default2" >
              </form>
            </li>
            <li>
              <form id="yonsei" action="/map/mappage" method="GET">
                <input type="hidden" value="연세" name="univ">
                <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-default2">
              </form>
            </li>  
        </ul>
        </li>
    <% elsif @univ == "서강" %>
        <li class="dropdown" style="text-align:center">
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#b20000" do %>
            <%= @univ %>대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="yonsei" action="/map/mappage" method="GET">
                <input type="hidden" value="연세" name="univ">
                <input id="submitt"  type="submit" value="연세대학교" class="btn btn-small btn-default2">
              </form>
            </li>
            <li>
            <form id="ewha" action="/map/mappage" method="GET">
              <input type="hidden" value="이화" name="univ">
              <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-default2">
            </form>
          </li>
          </ul>
        </li>  
    <% elsif @univ == "연세" %>
        <li class="dropdown" >
          <%= link_to "#", :class => 'dropdown-toggle', "data-toggle":"dropdown", style:"color:#202d61" do %>
            <%= @univ %>대학교
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" style="text-align:center; background-color:#ffffff; border:1px solid #999999;">
            <li>
              <form id="sogang" action="/map/mappage" method="GET">
                <input type="hidden" value="서강" name="univ">
                <input id="submitt" type="submit" value="서강대학교" class="btn btn-small btn-default2" >
              </form>
            </li>
            <li>
            <form id="ewha" action="/map/mappage" method="GET">
              <input type="hidden" value="이화" name="univ">
              <input id="submitt" type="submit" value="이화여자대학교" class="btn btn-small btn-default2">
            </form>
          </li>
          </ul>
        </li>
    <% end %>
    
    
  <% end %><!--로그인별 분류-->


  
<% end %><!--페이지별 분류-->

