<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to '관리', users_path %></li>
  <li><%= link_to '회원정보수정', "#edit", "data-toggle" => "modal", :class => 'btn btn-small' %></li>
  <li><%= link_to '로그아웃', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <!--<li><%#= link_to '로그인', new_user_session_path %></li>
  <li><%#= link_to '회원가입', new_user_registration_path %></li>-->
  <li><%= link_to "로그인", "#login", "data-toggle" => "modal", :class => 'btn btn-small' %></li>
  <li><%= link_to "회원가입", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small' %></li>
<% end %>

<li><%= link_to "leavepage", "/check/leavepage", :class => 'btn btn-small' %></li>