<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bangcoke v1.0" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "하숙방콕 서비스" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-71793518-1', 'auto');
      ga('send', 'pageview');
    
    </script>
    <%= stylesheet_link_tag "framework_and_overrides", :media => "all" %>
    <link href="/Flat-UI-2.2.2/dist/css/flat-ui.min.css" rel="stylesheet"> 
  
  </head>
  <body>
    <header>
      <%= render 'layouts/loading' %>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" style="font-family:source-han-sans-korean">
       
       <%= render "welcome/login_modal" %>
       <%= render "welcome/sign_up_modal" %>
       <%= render "welcome/edit_modal" %>
       <%= render "welcome/forgot_pass_modal" %>
       
       <%= yield %>
    </main>
    
    <script src="/Flat-UI-2.2.2/dist/js/flat-ui.min.js"></script>
  </body>
  
</html>
