<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "bangtiplite v1.0" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="/Flat-UI-2.2.2/dist/css/flat-ui.css" rel="stylesheet">
    <script src="/Flat-UI-2.2.2/dist/js/flat-ui.min.js"></script>
    
    <style type="text/css">
      html, body {
        font-family:source-han-sans-korean;
      }
      p, span, a{
        font-family:source-han-sans-korean;
      }
      .btn {
        font-family:source-han-sans-korean;
      }
      .btn-default {
        font-family:source-han-sans-korean;
      }
      @font-face {
        font-family: 'BMJUA';
        src: url('/fonts/BMJUA_ttf.ttf');
      }
    </style>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       
       <%= render "welcome/login_modal" %>
       <%= render "welcome/sign_up_modal" %>
       <%= render "welcome/edit_modal" %>
       <%= render "welcome/forgot_pass_modal" %>
       
       <%= yield %>
    </main>
    
    <script src="https://use.typekit.net/qpk6hcg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
  
</html>
